Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Shopping Assistant Bot - Pattern Tooling Enforcement

repos:
  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key

  # Python: Formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']

  # Python: Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: ^backend/

  # Python: Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-r', 'backend/app', '-ll']
        files: ^backend/

  # Custom hooks - Test colocation validation
  - repo: local
    hooks:
      - id: test-colocation-python
        name: Validate Python test co-location
        entry: python scripts/validate_test_colocation.py
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

  # Custom hooks - Type generation (only when schemas change)
  - repo: local
    hooks:
      - id: openapi-type-generator
        name: Generate TypeScript types from OpenAPI
        entry: python scripts/generate_types.py
        language: system
        pass_filenames: false
        files: ^backend/app/schemas/.*\.py$

# Frontend hooks (enable when frontend scripts are created)
# Uncomment when ready:
#
#   - repo: local
#     hooks:
#       - id: test-colocation-typescript
#         name: Validate TypeScript test co-location
#         entry: node scripts/hooks/test-colocation.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false
#
#   - repo: local
#     hooks:
#       - id: api-version-prefix
#         name: Validate API version prefix
#         entry: node scripts/hooks/api-version.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false

# Phase 2 hooks (add after base setup)
# Uncomment when ready:
#
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#       - id: mypy
#         additional_dependencies: [pydantic>=2.0, types-requests]
#         args: [--ignore-missing-imports]
#         files: ^backend/
#
#   - repo: https://github.com/pre-commit/mirrors-eslint
#     rev: v8.56.0
#     hooks:
#       - id: eslint
#         types: [typescript]
#         files: ^frontend/
#         additional_dependencies:
#           - eslint@^8.56.0
#           - '@typescript-eslint/eslint-plugin'
#           - '@typescript-eslint/parser'

fix: add missing analytics API endpoints and fix dashboard widgets
  backend/app/api/analytics.py
  backend/app/services/analytics/aggregated_analytics_service.py
  frontend/src/components/dashboard/FinancialOverviewWidget.tsx
  frontend/src/components/dashboard/QualityMetricsWidget.tsx
  frontend/src/components/ui/GlassCard.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/tests/e2e/story-8-10/dashboard-mode-visibility.spec.ts
Due: test-colocation-python

feat(story-10-3): add suggested reply chips widget
  .beads/issues.jsonl
  .github/workflows/e2e-story-10-3-tests.yml
  backend/app/schemas/widget.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/rag/suggestion_generator.py
  backend/tests/integration/test_story_10_3_suggestion_schema.py
  backend/tests/integration/test_story_10_3_suggestion_service.py
  backend/tests/integration/test_story_10_3_suggestions.py
  backend/tests/services/rag/test_suggestion_generator.py
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/SuggestedReplies.test.tsx
  frontend/src/widget/components/SuggestedReplies.tsx
  frontend/src/widget/styles/suggested-replies.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/tests/api/story-10-3-suggested-replies-api.spec.ts
  frontend/tests/e2e/story-10-3-suggested-replies.spec.ts
Due: test-colocation-python, openapi-type-generator

feat(ui): redesign Costs and Conversations pages with Industrial Technical Dashboard theme
  frontend/src/components/conversations/ActiveFilters.tsx
  frontend/src/components/conversations/ContextSidebar.tsx
  frontend/src/components/conversations/ConversationCard.tsx
  frontend/src/components/conversations/FilterPanel.tsx
  frontend/src/components/conversations/OpenInMessengerButton.tsx
  frontend/src/components/conversations/ReplyInput.tsx
  frontend/src/components/conversations/SavedFilters.tsx
  frontend/src/components/conversations/SearchBar.tsx
  frontend/src/components/conversations/StickyActionBar.tsx
  frontend/src/components/costs/BotPausedBanner.tsx
  frontend/src/components/costs/BudgetAlertConfig.tsx
  frontend/src/components/costs/BudgetConfiguration.tsx
  frontend/src/components/costs/BudgetHardStopModal.tsx
  frontend/src/components/costs/BudgetProgressBar.tsx
  frontend/src/components/costs/BudgetProjection.tsx
  frontend/src/components/costs/BudgetRecommendationDisplay.tsx
  frontend/src/components/costs/BudgetWarningBanner.tsx
  frontend/src/components/costs/CostComparisonCard.tsx
  frontend/src/components/costs/CostSummaryCards.tsx
  frontend/src/components/ui/Pagination.tsx
  frontend/src/pages/ConversationHistory.tsx
  frontend/src/pages/Conversations.tsx
Due: none

fix(ui): make sign up link visible on login page
  frontend/src/pages/Login.tsx
Due: none

feat: implement unified positioning system fix for Story 9-2
  .agent/skills/pencil-design
  .agents/skills/pencil-design/README.md
  .agents/skills/pencil-design/SKILL.md
  .agents/skills/pencil-design/references/asset-reuse.md
  .agents/skills/pencil-design/references/design-system-components.md
  .agents/skills/pencil-design/references/design-to-code-workflow.md
  .agents/skills/pencil-design/references/layout-and-text-overflow.md
  .agents/skills/pencil-design/references/responsive-breakpoints.md
  .agents/skills/pencil-design/references/tailwind-shadcn-mapping.md
  .agents/skills/pencil-design/references/variables-and-tokens.md
  .agents/skills/pencil-design/references/visual-verification.md
  .beads/issues.jsonl
  .kilocode/skills/pencil-design
  .kiro/skills/pencil-design
  .roo/skills/pencil-design
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/--tb=2
  backend/--timeout=60
  dashblard1
  dashboard-liquid
  frontend/head
  frontend/src/components/settings/BusinessHoursConfig.tsx
  frontend/src/components/settings/DayHoursRow.tsx
  frontend/src/components/settings/EmbeddingSettings.tsx
  frontend/src/components/settings/LLMSettings.tsx
  frontend/src/components/settings/ModeChangeDialog.tsx
  frontend/src/components/settings/ModeToggle.tsx
  frontend/src/components/settings/SaveIndicator.tsx
  frontend/src/components/settings/WebhookStatusCard.tsx
  frontend/src/components/settings/WebhookVerification.tsx
  frontend/src/pages/BotPreview.tsx
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/storage.ts
  package.json
  skills-lock.json
Due: none

test: add test automation for Story 10-5 Contact Card Widget
  backend/tests/services/conversation/handlers/test_handoff_handler_contact.py
  frontend/src/widget/components/ContactCard.test.tsx
  frontend/tests/e2e/story-10-5-contact-card.spec.ts
Due: none

fix(tests): contact_options API extraction and test assertions
  backend/app/api/widget.py
  backend/app/schemas/widget.py
  backend/tests/api/test_contact_options.py
Due: test-colocation-python, openapi-type-generator

fix(story-10-5): Code review fixes - 44px touch targets, error handling, business hours, toast notifications
  _bmad-output/implementation-artifacts/sprint-status.yaml
  frontend/src/widget/components/ContactCard.tsx
Due: none

fix(story-10-5): Complete remaining MEDIUM issues - merchant UI, schema, styles
  backend/app/api/test_widget_consent.py
  backend/app/core/errors.py
  backend/app/schemas/consent.py
  backend/app/schemas/widget_settings.py
  backend/app/services/conversation/handlers/handoff_handler.py
  backend/app/services/conversation/schemas.py
  backend/app/services/widget/widget_message_service.py
  backend/tests/verify_story_10_5.py
  backend/uploads/knowledge-base/1/45feeb17-2e8d-461e-a386-81154683c9c3_test.txt
  backend/uploads/knowledge-base/1/6a9d5732-dad3-4dc0-a817-fe15fd1f5fbc_test.md
  backend/uploads/knowledge-base/1/755bf3e1-6986-4c02-83bf-629c3a443092_test.pdf
  backend/uploads/knowledge-base/1/d85a50ef-c4cd-4cad-8004-bbbd9718934c_test.docx
  frontend/src/components/widget/ContactOptionsConfig.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/schemas/widget.ts
  frontend/src/widget/styles/contact-card.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/analytics.ts
  frontend/src/widget/utils/businessHours.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/src/widget/utils/storage.ts
  frontend/tests/e2e/story-10-5-contact-card.spec.ts
  frontend/tests/helpers/contact-option-factory.ts
Due: test-colocation-python, openapi-type-generator

fix(story-10-5): Mark story as done - all issues resolved
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

fix(story-10-5): Fix mockHandoffWithContactOptions to include custom option
  frontend/tests/e2e/story-10-5-contact-card.spec.ts
Due: none

feat(story-10-7): Knowledge Effectiveness Widget - RAG query tracking and analytics
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260320_1435-a1b2c3d4e5f6_add_rag_query_logs_table.py
  backend/app/api/analytics.py
  backend/app/models/__init__.py
  backend/app/models/rag_query_log.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/tests/api/test_knowledge_effectiveness.py
  frontend/src/components/dashboard/KnowledgeEffectivenessWidget.test.tsx
  frontend/src/components/dashboard/KnowledgeEffectivenessWidget.tsx
  frontend/src/config/dashboardWidgets.test.ts
  frontend/src/config/dashboardWidgets.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/analyticsService.ts
  frontend/tests/api/story-10-7-knowledge-effectiveness-api.spec.ts
  frontend/tests/e2e/story-10-6/ac1-ecommerce-widgets.spec.ts
  frontend/tests/e2e/story-10-6/ac2-4-shared-widgets.spec.ts
  frontend/tests/e2e/story-10-6/ac5-general-mode-widgets.spec.ts
  frontend/tests/e2e/story-10-6/ac7-console-errors.spec.ts
  frontend/tests/e2e/story-10-6/ac8-mode-switching.spec.ts
  frontend/tests/e2e/story-10-7-knowledge-effectiveness-features.spec.ts
  frontend/tests/e2e/story-10-7-knowledge-effectiveness-p0.spec.ts
  frontend/tests/fixtures/dashboard-mode.fixture.ts
  frontend/tests/helpers/knowledge-effectiveness-fixture.ts
  telemetry-id
Due: test-colocation-python

fix: test syntax errors and add caching tests for story 10-8
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260320_2205-243f8387c787_add_topic_aggregates_table.py
  backend/app/api/analytics.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/app/services/analytics/topic_extractor.py
  backend/tests/api/test_top_topics.py
  backend/tests/unit/test_topic_extractor.py
  frontend/src/components/dashboard/TopTopicsWidget.tsx
  frontend/src/config/dashboardWidgets.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/analyticsService.ts
  frontend/tests/api/story-10-8-top-topics-caching.spec.ts
  frontend/tests/e2e/story-10-8-top-topics-features.spec.ts
  frontend/tests/e2e/story-10-8-top-topics-p0.spec.ts
  frontend/tests/e2e/story-10-8-top-topics-p1.spec.ts
  frontend/tests/helpers/top-topics-fixture.ts
Due: test-colocation-python

fix: add caching headers to top-topics API and fix test assertions
  backend/app/api/analytics.py
  frontend/tests/api/story-10-8-top-topics-caching.spec.ts
Due: test-colocation-python

fix(story-10-8): Update tests for dashboard redesign and fix accessibility
  .beads/issues.jsonl
  frontend/src/components/dashboard/StatCard.tsx
  frontend/src/components/dashboard/TopTopicsWidget.tsx
  frontend/tests/e2e/dashboard-p2Widgets.spec.ts
  frontend/tests/e2e/story-10-8-top-topics-features.spec.ts
  frontend/tests/e2e/story-10-8-top-topics-p0.spec.ts
  frontend/tests/e2e/story-10-8-top-topics-p1.spec.ts
  frontend/tests/helpers/top-topics-fixture.ts
Due: none

feat(dashboard): add response time distribution widget (story 10-9)
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/analytics.py
  backend/app/services/analytics/aggregated_analytics_service.py
  frontend/src/components/dashboard/ResponseTimeWidget.tsx
  frontend/src/config/dashboardWidgets.ts
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/analyticsService.ts
Due: test-colocation-python

feat(story-10-9): Implement AC5 - Response type breakdown
  backend/alembic/versions/add_response_type_to_costs.py
  backend/app/models/llm_conversation_cost.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/cost_tracking/budget_aware_llm_wrapper.py
  backend/app/services/cost_tracking/cost_tracking_service.py
  backend/app/services/cost_tracking/llm_cost_wrapper.py
Due: test-colocation-python

fix(costs): resolve sidebar overlap and loading spinner issues
  backend/alembic/versions/add_response_type_to_costs.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/cost_tracking/budget_aware_llm_wrapper.py
  backend/grep
  backend/tests/api/test_response_time_distribution.py
  backend/tests/unit/test_response_time_distribution.py
  backend/v2
  frontend/src/components/costs/tactical/TacticalHUD.tsx
  frontend/src/components/costs/tactical/TacticalHUDHeader.tsx
  frontend/src/components/costs/tactical/TacticalHUDSidebar.tsx
  frontend/src/components/dashboard/ResponseTimeWidget.tsx
  frontend/tests/api/story-10-9-response-time-api.spec.ts
  frontend/tests/e2e/story-10-9-response-time-features.spec.ts
  frontend/tests/e2e/story-10-9-response-time-p0.spec.ts
  frontend/tests/helpers/response-time-fixture.ts
Due: test-colocation-python

feat: redesign bot configuration and personality pages with Mantis HUD aesthetic
  frontend/src/components/bot-config/BotIdentityHUD.tsx
  frontend/src/components/bot-config/OutputSimulationHUD.tsx
  frontend/src/components/bot-config/SystemStatusHUD.tsx
  frontend/src/components/business-info/GreetingConfig.tsx
  frontend/src/components/personality/PersonalityCard.tsx
  frontend/src/index.css
  frontend/src/pages/BotConfig.tsx
  frontend/src/pages/PersonalityConfig.tsx
  frontend/src/stores/botConfigStore.ts
Due: none

fix(story-10-9): code review fixes - datetime.utcnow deprecated, uncommitted changes
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/tests/unit/test_response_time_distribution_unit.py
  frontend/src/components/dashboard/ResponseTimeWidget.tsx
  frontend/tests/api/story-10-9-response-time-api.spec.ts
  frontend/tests/e2e/story-10-9-response-time-features.spec.ts
  frontend/tests/e2e/story-10-9-response-time-p0.spec.ts
Due: test-colocation-python

fix(story-10-9): clean up response-time-fixture comments
  frontend/tests/helpers/response-time-fixture.ts
Due: none

fix: resolve analytics 500 error and frontend build issues
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260322_1218_faq_interaction_logs.py
  backend/app/api/analytics.py
  backend/app/models/faq.py
  backend/app/models/faq_interaction_log.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/reproduce_issue.py
  frontend/src/components/business-info/BusinessInfoForm.tsx
  frontend/src/components/business-info/FaqForm.tsx
  frontend/src/components/business-info/FaqItemCard.tsx
  frontend/src/components/business-info/FaqList.tsx
  frontend/src/components/dashboard/FAQUsageWidget.tsx
  frontend/src/components/settings/BusinessHoursConfig.tsx
  frontend/src/components/settings/DayHoursRow.tsx
  frontend/src/components/widget/FAQQuickButtonsConfig.tsx
  frontend/src/index.css
  frontend/src/pages/BusinessInfoFaqConfig.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/services/analyticsService.ts
  frontend/tailwind.config.js
Due: test-colocation-python

test(story-10-10): add test automation for FAQ Usage Widget
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260322_1218_faq_interaction_logs.py
  backend/alembic/versions/add_response_type_to_costs.py
  backend/alembic/versions/head
  backend/app/models/__init__.py
  backend/check_db.py
  backend/check_merchants.py
  backend/head
  backend/tests/api/test_faq_usage.py
  backend/tests/integration/test_faq_usage_integration.py
  backend/tests/unit/test_faq_usage.py
  frontend/src/components/costs/tactical/AIRecommendations.tsx
  frontend/src/components/costs/tactical/MetricHUDCard.tsx
  frontend/src/components/dashboard/FAQUsageWidget.test.tsx
  frontend/src/components/dashboard/FAQUsageWidget.tsx
  frontend/src/config/dashboardWidgets.ts
  frontend/src/pages/BotConfig.tsx
  frontend/src/pages/Costs.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/PersonalityConfig.tsx
  frontend/src/pages/Settings.tsx
  frontend/tests/e2e/story-10-10-faq-usage.spec.ts
  frontend/tests/fixtures/faq-usage-fixtures.ts
  frontend/tests/unit/conversationStore.test.ts
Due: test-colocation-python

fix(test): Story 10-10 FAQ Usage Widget - Fix all HIGH/MEDIUM issues
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/tests/api/test_faq_usage_api.py
  backend/tests/integration/test_faq_usage_integration.py
  backend/tests/unit/test_faq_usage.py
  frontend/src/components/dashboard/FAQUsageWidget.tsx
  frontend/src/services/analyticsService.ts
  frontend/src/types/analytics.ts
Due: test-colocation-python

chore: final implementation updates for Story 10-10 and Cost Redesign cleanup
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/tests/api/test_faq_usage.py
  bd
  frontend/tests/e2e/story-10-10-faq-usage-core.spec.ts
  frontend/tests/e2e/story-10-10-faq-usage-states.spec.ts
  frontend/tests/e2e/story-10-10-faq-usage-visual.spec.ts
  frontend/tests/e2e/story-10-10-faq-usage.spec.ts
Due: none

fix(test): update Story 10-10 FAQ usage unit tests
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/tests/unit/test_faq_usage.py
Due: none

fix: settings integrations page dark theme text readability
  AGENTS.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/analytics.py
  backend/app/services/analytics/aggregated_analytics_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/RouteGuards.tsx
  frontend/src/components/dashboard/FAQUsageWidget.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/settings/ModeChangeDialog.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Dialog.tsx
  frontend/src/config/dashboardWidgets.ts
  frontend/src/index.css
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/stores/authStore.ts
Due: test-colocation-python

feat: add epic 10 retrospective, cost value panel and 3d background components
  docs/epic-10-retrospective.md
  frontend/src/components/auth/CostValuePanel.tsx
  frontend/src/components/ui/Interactive3DBackground.tsx
Due: none

fix(widget): fix connection spinner hanging and input contrast handling
  frontend/src/pages/BotPreview.tsx
  frontend/src/pages/WidgetTestPage.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/MessageInput.tsx
  frontend/src/widget/schemas/widget.ts
  frontend/src/widget/types/errors.ts
  frontend/vite.config.ts
Due: none

fix: propagate database message_id for feedback submission and fix 422 error
  backend/app/api/feedback.py
  backend/app/schemas/feedback.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/widget/widget_message_service.py
  frontend/src/widget/api/widgetClient.ts
Due: test-colocation-python, openapi-type-generator

feat(widget): relocate contact options to business info page and fix form interactivity
  frontend/src/components/business-info/BusinessInfoForm.tsx
  frontend/src/components/widget/ContactOptionsConfig.tsx
  frontend/src/pages/BusinessInfoFaqConfig.tsx
Due: none

fix(widget): allow null for contactOptions in WidgetMessageSchema
  .beads/issues.jsonl
  backend/app/api/widget_settings.py
  backend/tests/api/test_widget_config_options.py
  frontend/src/pages/WidgetSettings.tsx
  frontend/src/stores/widgetSettingsStore.ts
  frontend/src/widget/schemas/widget.ts
Due: test-colocation-python

feat: sync embedding provider with LLM and add RAG notes for Anthropic/GLM
  backend/alembic/versions/20260323_1658-1b8bcc56b7b4_timezone_aware_knowledge_base_manual.py
  backend/app/api/llm.py
  backend/app/models/knowledge_base.py
  backend/app/services/rag/embedding_service.py
  backend/app/services/rag/processing_task.py
  backend/tests/api/test_llm_sync.py
  backend/tests/services/rag/test_processing_task.py
  frontend/src/components/onboarding/CloudConfig.tsx
  frontend/src/components/settings/LLMSettings.tsx
  frontend/src/utils/fileValidation.ts
Due: test-colocation-python

feat: resolve CORS for Vercel origins and optimize DB latency with 127.0.0.1
  backend/.env
  backend/app/main.py
  frontend/src/pages/WidgetSettings.tsx
  frontend/src/pages/WidgetTestPage.tsx
  frontend/src/widget/Widget.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/smartPositioning.ts
Due: test-colocation-python

feat(widget): fix chat window positioning and infinite loading loop
  backend/static/widget/ChatWindow-upwv616R.js
  backend/static/widget/loader-DqhEB3C6.js
  backend/static/widget/stats.html
  backend/static/widget/style.css
  backend/static/widget/widget-test.html
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetWsClient-L2TqnmwN.js
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/ChatWindow.test.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/context/WidgetContext.tsx
Due: none

feat(widget): resolve 404 errors and improve rendering stability
  .serena/project.yml
  backend/static/widget/ChatWindow-BFhkGKDV.js
  backend/static/widget/analyticsService-_DQSYx7J.js
  backend/static/widget/loader-0Tsm9v9U.js
  backend/static/widget/stats.html
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetWsClient-Di6gyhXP.js
  frontend/src/services/api.ts
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/schemas/widget.ts
  frontend/test-widget.html
Due: none

feat(widget): improve UI contrast and implement premium theme-aware styling for interactive buttons
  backend/static/widget/ChatWindow-CE-k2NBJ.js
  backend/static/widget/ChatWindow-CPLDxfdI.js
  backend/static/widget/ChatWindow-DPHDRUBh.js
  backend/static/widget/analyticsService-BaTVK7RH.js
  backend/static/widget/analyticsService-D4rpLTou.js
  backend/static/widget/analyticsService-DAI7KR8G.js
  backend/static/widget/loader-D2HiUzsv.js
  backend/static/widget/loader-DG4er50z.js
  backend/static/widget/loader-DeTbYEQG.js
  backend/static/widget/stats.html
  backend/static/widget/widget-demo.html
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetWsClient-BtDDICse.js
  backend/static/widget/widgetWsClient-DY3Y_JEU.js
  backend/static/widget/widgetWsClient-LC4Y7hIL.js
  frontend/src/widget/components/FAQQuickButtons.tsx
  frontend/src/widget/components/QuickReplyButtons.tsx
  frontend/src/widget/components/SuggestedReplies.tsx
Due: none
