Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

test-colocation-python:
  name: Validate Python test co-location
  entry: python scripts/validate_test_colocation.py
  language: system
  pass_filenames: false

openapi-type-generator:
  name: Generate TypeScript types from OpenAPI
  entry: python scripts/generate_types.py
  language: system
  pass_filenames: false

fix(story-11-11): adversarial code review — wire up dead code (H1-H4), fix dead paths (M1-M5)
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/clarification/question_generator.py
  backend/app/services/conversation/handlers/clarification_handler.py
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

test(story-11-11): TEA automate — gap-filling tests for coverage gaps G1-G5
  backend/tests/integration/test_natural_clarification_flow.py
  backend/tests/unit/test_natural_question_gaps.py
Due: none

test(story-11-11): TEA test review fixes — data factories, scoped assertions, edge case tests
  frontend/tests/e2e/story-11-11-natural-clarification-questions.spec.ts
  frontend/tests/helpers/natural-question-factory.ts
Due: none

fix(story-11-11): implementation review — cap combined questions at 3 constraints, persist used_indices, skip budget prefix on combined questions, strengthen tests
  backend/app/services/clarification/question_generator.py
  backend/app/services/conversation/handlers/clarification_handler.py
  backend/tests/unit/test_natural_question_gaps.py
  backend/tests/unit/test_natural_question_generator.py
Due: test-colocation-python

fix(story-11-11): code review pass 2 — wire personality formatter, add examples, fix cap strategy
  backend/app/services/clarification/question_generator.py
  backend/app/services/conversation/handlers/clarification_handler.py
Due: test-colocation-python

fix(security): harden prompt injection defenses across all chat channels
  backend/app/api/preview.py
  backend/app/core/input_sanitizer.py
  backend/app/core/test_input_sanitizer.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/personality_prompts.py
Due: test-colocation-python

feat(story-11-12a): add conversation turn tracking pipeline
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260405_1923_add_uq_conversation_turns_conv_turn.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/conversation_context.py
  backend/tests/conftest.py
  backend/tests/unit/test_conversation_turn_tracking.py
Due: test-colocation-python

fix(story-11-12a): code review — remove PII from turn write, add mode to context_snapshot, fix test isolation
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/conversation/unified_conversation_service.py
  backend/tests/unit/test_conversation_turn_tracking.py
Due: test-colocation-python

test(story-11-12a): TEA automate — integration tests, edge-case unit tests, fix test DB connection
  backend/tests/conftest.py
  backend/tests/integration/test_conversation_turn_tracking.py
  backend/tests/unit/test_conversation_turn_tracking.py
Due: none

refactor(story-11-12a): extract pure function, add tests, fix isolation, update review
  backend/app/services/conversation/unified_conversation_service.py
  backend/tests/integration/test_conversation_turn_tracking.py
  backend/tests/unit/test_conversation_turn_tracking.py
  backend/tests/unit/turn_tracking/conftest.py
  backend/tests/unit/turn_tracking/test_turn_context_snapshot.py
  backend/tests/unit/turn_tracking/test_turn_context_snapshot_clarification.py
  backend/tests/unit/turn_tracking/test_turn_context_snapshot_edges.py
  backend/tests/unit/turn_tracking/test_turn_context_snapshot_sentiment.py
  backend/tests/unit/turn_tracking/test_turn_tracking_nonblocking.py
  backend/tests/unit/turn_tracking/test_turn_write_metrics.py
  backend/tests/unit/turn_tracking/test_write_conversation_turn.py
Due: test-colocation-python

refactor(story-11-12a): extract _track_conversation_turn, fix sentiment data flow, improve test coverage
  backend/app/models/conversation_context.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/tests/integration/test_conversation_turn_tracking.py
  backend/tests/unit/turn_tracking/test_turn_tracking_nonblocking.py
Due: test-colocation-python

feat(story-11-12b): add conversation flow analytics dashboard
  backend/app/api/analytics.py
  backend/app/services/analytics/conversation_flow_analytics_service.py
  backend/tests/integration/test_conversation_flow_api.py
  backend/tests/unit/test_conversation_flow_analytics_service.py
  frontend/src/components/dashboard/ConversationFlowWidget.tsx
  frontend/src/components/dashboard/index.ts
  frontend/src/config/dashboardWidgets.ts
  frontend/src/services/analyticsService.ts
  frontend/tests/e2e/story-11-12b-conversation-flow-analytics.spec.ts
Due: test-colocation-python

test(story-11-12b): TEA automate — edge case unit tests, auth validation integration tests, E2E anti-pattern fixes, P2 E2E tests
  backend/tests/integration/test_conversation_flow_auth_validation.py
  backend/tests/unit/test_conversation_flow_edge_cases.py
  frontend/tests/e2e/story-11-12b-conversation-flow-analytics.spec.ts
Due: none

test(story-11-12b): TEA test review — 87/100 (B), approve with comments
  _bmad-output/implementation-artifacts/11-12b-conversation-flow-analytics-dashboard.md
  _bmad-output/test-artifacts/test-reviews/test-review.md
Due: none

chore(epic-11): complete prep sprint — consolidate IntentType, add merchant_id migration, word boundary utility, prompt validation tests, story docs
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad/bmm/workflows/4-implementation/code-review/checklist.md
  backend/alembic/versions/20260406_1000_add_merchant_id_to_conversation_turns.py
  backend/app/models/conversation_context.py
  backend/app/services/analytics/conversation_flow_analytics_service.py
  backend/app/services/conversation/__init__.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/sentiment_adapter.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/shared/__init__.py
  backend/app/services/shared/keyword_match.py
  backend/tests/integration/test_conversation_turn_tracking.py
  backend/tests/unit/test_environment_isolation.py
  backend/tests/unit/test_prompt_content_validation.py
  backend/tests/unit/turn_tracking/test_write_conversation_turn.py
  docs/stories/story-10-7-knowledge-effectiveness.md
  docs/stories/story-10-8-top-topics.md
Due: test-colocation-python

fix(integrations): improve input field visibility and layout on settings page
  frontend/src/components/ui/input.tsx
  frontend/src/pages/Settings.tsx
Due: none

fix(widget): add clear labels to feedback buttons - resolve user confusion
  frontend/src/widget/components/FeedbackRating.test.tsx
  frontend/src/widget/components/FeedbackRating.tsx
  test-feedback-ui-fix.html
Due: none

fix(chat): ecommerce mode product queries now route to correct handlers
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

fix(widget): resolve CSS contrast issues in Shopify theme integration
  backend/app/static/widget/widget.es.js
  backend/app/static/widget/widget.umd.js
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  frontend/src/widget/Widget.tsx
  frontend/src/widget/loader.ts
  static/widget/widget.es.js
  static/widget/widget.umd.js
Due: none

fix: resolve dashboard wrong-merchant and widget 400 greenlet errors
  backend/app/api/widget.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/shopify/product_service.py
  backend/app/services/shopify_admin.py
  frontend/src/components/dashboard/KnowledgeEffectivenessWidget.tsx
  frontend/src/services/api.ts
  frontend/src/services/export.ts
  frontend/src/services/llmProvider.ts
  frontend/src/stores/llmStore.ts
Due: test-colocation-python

fix(chat): resolve order tracking failures and confusing error responses
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/order_tracking/order_tracking_service.py
  backend/app/services/personality/transition_phrases.py
  backend/tests/unit/handler_transitions/test_error_transitions.py
  backend/tests/unit/test_transition_phrases.py
Due: test-colocation-python

feat: auto-create customer profiles and greet by first name
  backend/app/api/webhooks/shopify.py
  backend/app/services/conversation/handlers/greeting_handler.py
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

feat: add payment issues dashboard with dispute tracking and Shopify webhook handler
  backend/app/api/disputes.py
  backend/app/api/webhooks/shopify.py
  backend/app/main.py
  backend/app/services/dispute_service.py
  frontend/src/components/dashboard/AlertDetailPanel.tsx
  frontend/src/components/dashboard/AlertsWidget.tsx
  frontend/src/components/dashboard/PaymentIssuesWidget.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/disputeService.ts
Due: test-colocation-python

fix(widget): add cache buster to embed script URL for reliable updates
  frontend/src/components/widget/EmbedCodePreview.tsx
Due: none

fix(widget): add dark mode support to QuickReply, FAQ, SuggestedReplies, ErrorToast, ConnectionStatus, and TypingIndicator components
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/ConnectionStatus.tsx
  frontend/src/widget/components/ErrorToast.tsx
  frontend/src/widget/components/FAQQuickButtons.tsx
  frontend/src/widget/components/QuickReplyButtons.tsx
  frontend/src/widget/components/SuggestedReplies.tsx
  frontend/src/widget/components/TypingIndicator.tsx
  frontend/src/widget/styles/contact-card.css
Due: none

chore: rebuild widget bundles with dark mode fixes
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
Due: none

refactor(frontend): simplify user-facing text for non-technical users
  frontend/src/components/costs/tactical/BudgetReservoirGauge.tsx
  frontend/src/components/costs/tactical/NeuralInvestmentCard.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/onboarding/DeploymentWizard.tsx
  frontend/src/components/onboarding/LLMConfiguration.tsx
  frontend/src/components/onboarding/PrerequisiteChecklist.tsx
  frontend/src/components/providers/ProviderCard.tsx
  frontend/src/components/settings/LLMSettings.tsx
  frontend/src/pages/BotConfig.tsx
  frontend/src/pages/Costs.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/ProviderSettings.tsx
Due: none

fix(widget): dark mode contrast fixes for MessageList, ChatWindow, ConsentPrompt, StreamingIndicator, MessageInput
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/ConsentPrompt.tsx
  frontend/src/widget/components/MessageInput.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/StreamingIndicator.tsx
Due: none

fix: resolve greenlet error in order lookup, backfill customer names, add personalized greetings
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/customer_lookup_service.py
  backend/app/services/shopify/order_processor.py
  backend/scripts/backfill_customer_names.py
Due: test-colocation-python

feat(widget): session restoration and rich message persistence
  backend/app/api/widget.py
  backend/app/schemas/widget.py
  backend/app/services/widget/widget_message_service.py
  backend/app/services/widget/widget_session_service.py
  backend/app/static/widget/widget.umd.js
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/utils/storage.ts
Due: test-colocation-python, openapi-type-generator

fix(widget): ensure variant_id is always populated for products
  backend/app/api/widget.py
Due: test-colocation-python

fix(widget): dark mode text visibility, cart clear, checkout URL, and variant ID resolution
  backend/app/api/widget.py
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/CartView.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/ContactCard.tsx
  frontend/src/widget/components/FeedbackRating.tsx
  frontend/src/widget/components/LoadingSpinner.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/ProductCard.tsx
  frontend/src/widget/components/ProductCardCompact.tsx
  frontend/src/widget/components/ProductCarousel.tsx
  frontend/src/widget/components/ProductDetailModal.tsx
  frontend/src/widget/components/SourceCitation.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/styles/carousel.css
  frontend/src/widget/types/widget.ts
Due: test-colocation-python

fix(orders): enable order lookup by email in addition to order number
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/order_tracking/order_tracking_service.py
  backend/app/services/proactive_gathering/intent_requirements.py
  backend/app/services/proactive_gathering/proactive_gathering_service.py
Due: test-colocation-python

fix(widget): add missing session/message history GET endpoints and fix np.float32 serialization
  .serena/memories/widget-issues/greenlet-error.md
  backend/app/api/widget.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/rag/retrieval_service.py
  backend/app/services/widget/widget_session_service.py
Due: test-colocation-python

security: harden DDoS defenses across all layers
  backend/app/api/analytics.py
  backend/app/api/dashboard_ws.py
  backend/app/api/knowledge_base.py
  backend/app/api/widget.py
  backend/app/api/widget_events.py
  backend/app/core/config.py
  backend/app/core/connection_limits.py
  backend/app/core/rate_limiter.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/middleware/rate_limit.py
  backend/app/middleware/request_size.py
  backend/app/services/analytics/dashboard_websocket_manager.py
  backend/app/services/widget/connection_manager.py
  backend/tests/security/test_widget_security.py
  docker-compose.yml
Due: test-colocation-python

feat(conversation): integrate 10 enhancement systems for human-like conversations
  backend/app/services/context/edge_case_handler.py
  backend/app/services/context/enhanced_context_service.py
  backend/app/services/conversation/enhancers/TEST_RESULTS.md
  backend/app/services/conversation/enhancers/WEEK3_INTEGRATION.md
  backend/app/services/conversation/enhancers/ab_testing.py
  backend/app/services/conversation/enhancers/conversation_goals.py
  backend/app/services/conversation/enhancers/conversation_summarizer.py
  backend/app/services/conversation/enhancers/performance_optimizer.py
  backend/app/services/conversation/enhancers/proactive_suggestions.py
  backend/app/services/conversation/enhancers/quality_metrics.py
  backend/app/services/conversation/enhancers/quick_replies.py
  backend/app/services/conversation/enhancers/response_consistency.py
  backend/app/services/conversation/enhancers/response_variety.py
  backend/app/services/conversation/enhancers/typing_simulator.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/empathy/empathy_engine.py
Due: test-colocation-python

Path conditions:
  test-colocation-python: any of: ^backend/app/ and \.py$
  openapi-type-generator: any of: ^backend/app/schemas/.*\.py$
