Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

test-colocation-python:
  name: Validate Python test co-location
  entry: python scripts/validate_test_colocation.py
  language: system
  pass_filenames: false

openapi-type-generator:
  name: Generate TypeScript types from OpenAPI
  entry: python scripts/generate_types.py
  language: system
  pass_filenames: false

feat: add comprehensive API and E2E test coverage for Story 8-7
  frontend/tests/api/story-8-7-merchant-mode-service.spec.ts
  frontend/tests/e2e/story-8-7/mode-toggle.spec.ts
Due: none

fix: resolve E2E test failures for Story 8-7 mode toggle
  frontend/src/services/merchant.ts
  frontend/tests/e2e/story-8-7/mode-toggle.spec.ts
Due: none

fix(story-8-8): Add CSRF tokens, retry logic, and fix types
  _bmad-output/implementation-artifacts/sprint-status.yaml
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/services/knowledgeBase.ts
  frontend/src/types/auth.ts
  frontend/src/types/knowledgeBase.ts
Due: none

docs(story-8-8): mark as complete with comprehensive test coverage
  docs/epic-8-general-chatbot-mode.md
Due: none

fix(tests): Story 8-9 code review - all 17 tests passing
  backend/tests/integration/test_rag_error_handling.py
  backend/tests/performance/test_rag_performance.py
Due: none

test(story-8-9): comprehensive test coverage for General Chatbot Mode
  backend/tests/api/test_knowledge_base.py
  backend/tests/api/test_merchant_mode.py
  backend/tests/conftest.py
  backend/tests/integration/test_rag_pipeline.py
  docs/epic-8-general-chatbot-mode.md
  frontend/tests/e2e/story-8-9/mode-aware-navigation.spec.ts
  frontend/tests/e2e/story-8-9/rag-conversation.spec.ts
  frontend/tests/helpers/knowledge-base-mocks.ts
  frontend/tests/helpers/knowledge-base-po.ts
Due: none

test(story-8-10): fix E2E tests with proper auth mocking
  frontend/tests/e2e/story-8-10/dashboard-loading.spec.ts
  frontend/tests/e2e/story-8-10/dashboard-mode-visibility.spec.ts
  frontend/tests/e2e/story-8-10/fixtures/dashboard-fixtures.ts
  frontend/tests/e2e/story-8-10/knowledge-base-widget.spec.ts
Due: none

fix(story-8-11): DB migration and test fixes for embedding provider
  .beads/issues.jsonl
  backend/alembic/versions/20260314_0000-add_embedding_provider_fields.py
  backend/alembic/versions/20260314_0100_change_embedding_to_jsonb.py
  backend/app/middleware/auth.py
  backend/tests/integration/test_provider_switching.py
  backend/tests/services/rag/test_gemini_embedding.py
  backend/tests/services/rag/test_reembedding_flow.py
Due: test-colocation-python

feat(epic-7): implement dashboard widgets for merchant decision-making
  .beads/issues.jsonl
  AGENTS.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/analytics.py
  backend/app/services/analytics/aggregated_analytics_service.py
  docs/dashboard-widget-proposal.md
  docs/merchant-decision-framework.md
  frontend/src/components/dashboard/AICostWidget.tsx
  frontend/src/components/dashboard/AlertsWidget.tsx
  frontend/src/components/dashboard/BenchmarkComparisonWidget.tsx
  frontend/src/components/dashboard/BotQualityWidget.tsx
  frontend/src/components/dashboard/ConversationOverviewWidget.tsx
  frontend/src/components/dashboard/ConversionFunnelWidget.tsx
  frontend/src/components/dashboard/CustomerSentimentWidget.tsx
  frontend/src/components/dashboard/HandoffQueueWidget.tsx
  frontend/src/components/dashboard/KnowledgeBaseWidget.tsx
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
  frontend/src/components/dashboard/PeakHoursHeatmapWidget.tsx
  frontend/src/components/dashboard/RevenueWidget.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/analyticsService.ts
  frontend/tests/e2e/dashboard-p2-widgets.spec.ts
Due: test-colocation-python

fix: update widget embed script URL and fix LLM configuration issues
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/models/llm_configuration.py
  frontend/src/components/onboarding/PrerequisiteChecklist.tsx
  frontend/src/components/widget/EmbedCodePreview.tsx
  frontend/src/services/onboarding.ts
  frontend/src/stores/llmStore.ts
Due: test-colocation-python

fix: use your-domain-name.com placeholder in embed script
  frontend/src/components/widget/EmbedCodePreview.tsx
Due: none

fix: dashboard 401 errors on knowledge-base/stats and knowledge-gaps
  backend/app/middleware/auth.py
  backend/app/services/analytics/aggregated_analytics_service.py
  frontend/src/services/knowledgeBase.ts
Due: test-colocation-python

feat: Add Story 9-1 Dark Mode with Glassmorphism
  .github/workflows/story-9-1-tests.yml
  docs/WIDGET_DEMO_QUICKSTART.md
  docs/epic-9-planning-update.md
  docs/widget-ui-ux-prototypes.md
  frontend/lighthouserc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/check-bundle-size.js
  frontend/scripts/run-lighthouse.js
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/GlassmorphismChatWindow.tsx
  frontend/src/widget/components/ThemeToggle.tsx
  frontend/src/widget/components/test_GlassmorphismChatWindow.test.tsx
  frontend/src/widget/components/test_ThemeToggle.test.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/hooks/test_useThemeDetection.test.ts
  frontend/src/widget/hooks/useThemeDetection.ts
  frontend/src/widget/styles/glassmorphism.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/src/widget/utils/storage.ts
  frontend/src/widget/utils/styles.ts
  frontend/src/widget/utils/test_theme_storage.test.ts
  frontend/src/widget/utils/webVitals.ts
  frontend/tests/e2e/story-9-1-accessibility-audit.spec.ts
  frontend/tests/e2e/story-9-1-dark-mode-glassmorphism.spec.ts
  frontend/tests/e2e/story-9-1-visual-regression.spec.ts
Due: none

feat: Add Story 9-2 Smart Positioning System
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/DraggableChatWindow.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/hooks/test_useSmartPositioning.test.ts
  frontend/src/widget/hooks/useSmartPositioning.ts
  frontend/src/widget/styles/positioning.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/smartPositioning.ts
  frontend/src/widget/utils/storage.ts
  frontend/src/widget/utils/styles.ts
  frontend/src/widget/utils/test_smartPositioning.test.ts
  frontend/src/widget/utils/test_smartPositioning_edge_cases.test.ts
  frontend/src/widget/utils/webVitals.ts
  frontend/tests/e2e/story-9-2-smart-positioning-system.spec.ts
Due: none

feat(widget): add product carousel for 3+ products (Story 9-3)
  .beads/issues.jsonl
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/CarouselArrows.tsx
  frontend/src/widget/components/CarouselDots.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/ProductCardCompact.tsx
  frontend/src/widget/components/ProductCarousel.tsx
  frontend/src/widget/components/test_CarouselArrows.test.tsx
  frontend/src/widget/components/test_CarouselDots.test.tsx
  frontend/src/widget/components/test_ProductCardCompact.test.tsx
  frontend/src/widget/components/test_ProductCarousel.test.tsx
  frontend/src/widget/hooks/test_useCarousel.test.ts
  frontend/src/widget/hooks/useCarousel.ts
  frontend/src/widget/styles/carousel.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/tests/e2e/story-9-3-product-carousel.spec.ts
Due: none

feat(widget): add quick reply buttons for faster responses (Story 9-4)
  backend/app/schemas/widget.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/schemas.py
  backend/app/services/widget/widget_message_service.py
  docs/stories/story-9-4-quick-reply-buttons.md
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/QuickReplyButtons.tsx
  frontend/src/widget/components/test_QuickReplyButtons.test.tsx
  frontend/src/widget/schemas/widget.ts
  frontend/src/widget/styles/quick-reply.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/tests/e2e/story-9-4-quick-reply-buttons.spec.ts
  frontend/tests/e2e/test-utils/factories/widget-factories.ts
Due: test-colocation-python, openapi-type-generator

feat(widget): implement Story 9-5 Voice Input Interface
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/schemas/widget.py
  frontend/src/widget/components/MessageInput.tsx
  frontend/src/widget/components/VoiceInput.tsx
  frontend/src/widget/components/test_VoiceInput.test.tsx
  frontend/src/widget/hooks/test_useVoiceInput.test.ts
  frontend/src/widget/hooks/useVoiceInput.ts
  frontend/src/widget/styles/voice-input.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/tests/e2e/story-9-5-voice-input-interface.spec.ts
Due: test-colocation-python, openapi-type-generator

test(story-9-5): Add comprehensive E2E tests for voice input
  docs/test-automation-story-9-5.md
  frontend/tests/e2e/story-9-5-voice-input-comprehensive.spec.ts
Due: none

docs(story-9-5): Update test automation section
  _bmad-output/implementation-artifacts/9-5-voice-input-interface.md
Due: none

test(story-9-5): fix tests and update test automation summary
  _bmad-output/implementation-artifacts/9-5-voice-input-interface.md
  _bmad-output/implementation-artifacts/tests/test-summary.md
  docs/test-automation-story-9-5.md
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/MessageInput.tsx
  frontend/src/widget/components/VoiceInput.tsx
  frontend/src/widget/hooks/useVoiceInput.ts
  frontend/tests/e2e/story-8-9/rag-conversation.spec.ts
  frontend/tests/e2e/story-9-5-voice-input-comprehensive.spec.ts
  frontend/tests/e2e/story-9-5-voice-input-interface.spec.ts
Due: none

chore: remove accidental junk files
  frontend/tail
  frontend/timeout
  frontend/v
Due: none

fix(widget): resolve code review findings for Story 9-6
  frontend/src/widget/components/ProactiveModal.tsx
  frontend/src/widget/hooks/test_useProactiveTriggers.test.ts
  frontend/src/widget/hooks/useProactiveTriggers.ts
  frontend/tests/e2e/story-9-6-proactive-engagement-triggers.spec.ts
Due: none

docs(widget): add proactive engagement documentation to widget-demo page
  _bmad-output/implementation-artifacts/sprint-status.yaml
  frontend/public/widget-demo.html
Due: none

test(story-9-6): QA automation - cross-browser fixes and expanded coverage
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/src/widget/hooks/test_useProactiveTriggers.test.ts
  frontend/tests/e2e/story-9-6-proactive-engagement-triggers.spec.ts
Due: none

feat(widget): implement Story 9-7 message grouping with avatars
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/schemas/widget.py
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/MessageAvatar.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/test_MessageAvatar.test.tsx
  frontend/src/widget/components/test_MessageList.test.tsx
  frontend/src/widget/styles/message-grouping.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/messageGrouping.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/src/widget/utils/test_messageGrouping.test.ts
  frontend/src/widget/utils/test_timeFormatting.test.ts
  frontend/src/widget/utils/timeFormatting.ts
  frontend/tests/e2e/story-9-7-message-grouping-avatars.spec.ts
Due: test-colocation-python, openapi-type-generator

feat(widget): implement Story 9-8 animated microinteractions
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/src/test/setup.ts
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/ChatBubble.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/ProductCardCompact.tsx
  frontend/src/widget/components/QuickReplyButtons.tsx
  frontend/src/widget/components/SuccessCheckmark.tsx
  frontend/src/widget/components/TypingIndicator.tsx
  frontend/src/widget/components/test_ChatBubble.test.tsx
  frontend/src/widget/components/test_QuickReplyButtons.test.tsx
  frontend/src/widget/components/test_SuccessCheckmark.test.tsx
  frontend/src/widget/components/test_TypingIndicator.test.tsx
  frontend/src/widget/demo/WidgetDemo.tsx
  frontend/src/widget/hooks/__tests__/test_useReducedMotion.test.ts
  frontend/src/widget/hooks/test_useRipple.test.ts
  frontend/src/widget/hooks/useReducedMotion.ts
  frontend/src/widget/hooks/useRipple.ts
  frontend/src/widget/styles/animations.css
  frontend/src/widget/styles/carousel.css
  frontend/src/widget/utils/shadowDom.ts
  frontend/tests/e2e/story-9-8-microinteractions.spec.ts
  frontend/vitest.config.ts
Due: none

test(story-9-9): fix Mobile Safari timing, achieve 100% pass rate
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/tests/e2e/story-9-9-demo-page.spec.ts
Due: none

refactor(widget-demo): prefix unused variables, add unit tests
  frontend/src/widget/demo/WidgetDemo.test.tsx
  frontend/src/widget/demo/WidgetDemo.tsx
Due: none

test(story-10-1): improve test quality - remove hard waits, add error scenarios, extract helpers
  .beads/issues.jsonl
  frontend/tests/e2e/story-10-1-source-citations-performance.spec.ts
  frontend/tests/e2e/story-10-1-source-citations-visual.spec.ts
  frontend/tests/e2e/story-10-1-source-citations.spec.ts
  frontend/tests/helpers/source-citation-helpers.ts
Due: none

feat(story-10-1): implement source citations widget
  backend/alembic/versions/20260318_1159-74f75004679c_add_source_url_to_knowledge_documents.py
  backend/app/api/widget.py
  backend/app/models/knowledge_base.py
  backend/app/schemas/widget.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/rag/context_builder.py
  backend/tests/integration/test_story_10_1_source_citations.py
  frontend/src/components/dashboard/Sparkline.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/SourceCitation.tsx
  frontend/src/widget/components/test_SourceCitation.test.tsx
  frontend/src/widget/demo/WidgetDemo.tsx
  frontend/src/widget/styles/source-citation.css
  frontend/src/widget/types/widget.ts
  frontend/tests/api/story-10-1-source-citations.spec.ts
  frontend/tests/e2e/story-10-1-source-citations-performance.spec.ts
  frontend/tests/e2e/story-10-1-source-citations-visual.spec.ts
  frontend/tests/e2e/story-10-1-source-citations.spec.ts
  frontend/tests/helpers/source-citation-helpers.ts
Due: test-colocation-python, openapi-type-generator

chore: cleanup test files and fix import syntax
  _bmad-output/implementation-artifacts/sprint-status.yaml
  frontend/src/components/dashboard/__AnalyticsWidget.test.tsx
  frontend/tests/api/story-8-11/embedding-provider-integration.spec.ts
  frontend/tests/api/story-8-11/embedding-provider-reembed.spec.ts
  frontend/tests/e2e/dashboard-p2Widgets.spec.ts
Due: none

fix: resolve API 500/404/401 errors and missing icon imports
  .beads/issues.jsonl
  backend/app/api/analytics.py
  backend/app/main.py
  backend/app/schemas/base.py
  backend/app/schemas/business_hours.py
  backend/app/schemas/business_info.py
  backend/app/schemas/faq.py
  frontend/src/pages/BotPreview.tsx
  frontend/src/services/api.ts
  frontend/src/services/llmProvider.ts
Due: test-colocation-python, openapi-type-generator

feat(story-10-2): implement FAQ Quick Buttons widget with full test coverage
  backend/alembic/versions/20260318_1404-c724bdeb1564_add_icon_to_faqs.py
  backend/app/api/faqs.py
  backend/app/api/widget.py
  backend/app/api/widget_settings.py
  backend/app/models/faq.py
  backend/app/schemas/widget.py
  backend/app/schemas/widget_settings.py
  frontend/src/components/widget/FAQQuickButtonsConfig.tsx
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/FAQQuickButtons.test.tsx
  frontend/src/widget/components/FAQQuickButtons.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/schemas/widget.ts
  frontend/src/widget/styles/faq-quick-buttons.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/tests/api/story-10-2-faq-buttons-api.spec.ts
  frontend/tests/api/story-10-2-faq-configuration.spec.ts
  frontend/tests/e2e/story-10-2-faq-quick-buttons.spec.ts
Due: test-colocation-python, openapi-type-generator

fix(dashboard): improve WCAG contrast and enable widgets for general mode
  frontend/src/components/dashboard/AICostWidget.tsx
  frontend/src/components/dashboard/AlertsWidget.tsx
  frontend/src/components/dashboard/BenchmarkComparisonWidget.tsx
  frontend/src/components/dashboard/BotQualityWidget.tsx
  frontend/src/components/dashboard/ConversationOverviewWidget.tsx
  frontend/src/components/dashboard/ConversionFunnelWidget.tsx
  frontend/src/components/dashboard/CustomerSentimentWidget.tsx
  frontend/src/components/dashboard/GeographicSnapshotWidget.tsx
  frontend/src/components/dashboard/HandoffQueueWidget.tsx
  frontend/src/components/dashboard/KnowledgeBaseWidget.tsx
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
  frontend/src/components/dashboard/PeakHoursHeatmapWidget.tsx
  frontend/src/components/dashboard/PendingOrdersWidget.tsx
  frontend/src/components/dashboard/RevenueWidget.tsx
  frontend/src/components/dashboard/StatCard.tsx
  frontend/src/components/dashboard/TopProductsWidget.tsx
  frontend/src/components/dashboard/WidgetAnalyticsWidget.tsx
  frontend/src/components/retention/RetentionJobStatus.tsx
  frontend/src/config/dashboardWidgets.ts
  frontend/src/pages/Dashboard.tsx
Due: none

fix(ui): improve WCAG contrast across business-info, costs, shipping, settings components
  frontend/src/components/business-info/BusinessInfoForm.tsx
  frontend/src/components/business-info/FaqForm.tsx
  frontend/src/components/business-info/FaqItemCard.tsx
  frontend/src/components/business-info/FaqList.tsx
  frontend/src/components/business-info/GreetingConfig.tsx
  frontend/src/components/business-info/ProductPinList.tsx
  frontend/src/components/costs/BudgetConfiguration.tsx
  frontend/src/components/costs/BudgetHardStopModal.tsx
  frontend/src/components/costs/BudgetProgressBar.tsx
  frontend/src/components/costs/ConversationCostDetail.tsx
  frontend/src/components/costs/CostSummaryCards.tsx
  frontend/src/components/settings/BusinessHoursConfig.tsx
  frontend/src/components/settings/DayHoursRow.tsx
  frontend/src/components/settings/LLMSettings.tsx
  frontend/src/components/settings/ModeToggle.tsx
  frontend/src/components/settings/SaveIndicator.tsx
  frontend/src/components/shipping/AddCarrierModal.tsx
  frontend/src/components/shipping/CarrierCard.tsx
  frontend/src/components/shipping/SupportedCarriersList.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/components/ui/input.tsx
Due: none

fix(stores,widget): minor contrast and theme fixes
  frontend/src/stores/handoffAlertStore.ts
  frontend/src/stores/llmStore.ts
  frontend/src/stores/onboardingStore.ts
  frontend/src/widget/demo/WidgetDemo.tsx
  frontend/src/widget/hooks/useReducedMotion.test.ts
  frontend/src/widget/hooks/useWidgetApi.ts
  frontend/src/widget/hooks/useWidgetTheme.test.ts
  frontend/src/widget/loader.test.ts
  frontend/src/widget/utils/analytics.test.ts
  frontend/src/widget/utils/smartPositioning.test.ts
  frontend/src/widget/utils/smartPositioning_edge_cases.test.ts
  frontend/src/widget/utils/storage.ts
  frontend/src/widget/utils/themeMerge.test.ts
  frontend/src/widget/utils/themeValidation.test.ts
  frontend/src/widget/widget-lazy-load.test.tsx
Due: none

Path conditions:
  test-colocation-python: any of: ^backend/app/ and \.py$
  openapi-type-generator: any of: ^backend/app/schemas/.*\.py$
