Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Shopping Assistant Bot - Pattern Tooling Enforcement

repos:
  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key

  # Python: Formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']

  # Python: Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: ^backend/

  # Python: Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-r', 'backend/app', '-ll']
        files: ^backend/

  # Custom hooks - Test colocation validation
  - repo: local
    hooks:
      - id: test-colocation-python
        name: Validate Python test co-location
        entry: python scripts/validate_test_colocation.py
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

  # Custom hooks - Type generation (only when schemas change)
  - repo: local
    hooks:
      - id: openapi-type-generator
        name: Generate TypeScript types from OpenAPI
        entry: python scripts/generate_types.py
        language: system
        pass_filenames: false
        files: ^backend/app/schemas/.*\.py$

# Frontend hooks (enable when frontend scripts are created)
# Uncomment when ready:
#
#   - repo: local
#     hooks:
#       - id: test-colocation-typescript
#         name: Validate TypeScript test co-location
#         entry: node scripts/hooks/test-colocation.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false
#
#   - repo: local
#     hooks:
#       - id: api-version-prefix
#         name: Validate API version prefix
#         entry: node scripts/hooks/api-version.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false

# Phase 2 hooks (add after base setup)
# Uncomment when ready:
#
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#       - id: mypy
#         additional_dependencies: [pydantic>=2.0, types-requests]
#         args: [--ignore-missing-imports]
#         files: ^backend/
#
#   - repo: https://github.com/pre-commit/mirrors-eslint
#     rev: v8.56.0
#     hooks:
#       - id: eslint
#         types: [typescript]
#         files: ^frontend/
#         additional_dependencies:
#           - eslint@^8.56.0
#           - '@typescript-eslint/eslint-plugin'
#           - '@typescript-eslint/parser'

fix: remove unused SourceCitation import and add KnowledgeDocument import
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

fix: update CORS pattern for multi-level Vercel subdomains
  backend/app/main.py
  backend/app/middleware/auth.py
Due: test-colocation-python

fix: remove duplicate source conversion in widget_message_service.py
  backend/app/services/widget/widget_message_service.py
Due: test-colocation-python

fix: add widget volume mount to docker-compose for local development
  docker-compose.yml
Due: none

fix: use merchant.id and context.session_id instead of non-existent instance attributes
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

feat: add query rewriting for contextual RAG follow-up questions
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/rag/context_builder.py
  backend/app/services/rag/query_rewriter.py
  backend/app/services/widget/widget_message_service.py
Due: test-colocation-python

fix: make RAG responses more natural and personality-aligned
  backend/app/services/conversation/handlers/llm_handler.py
Due: test-colocation-python

fix: remove document reference phrases for more direct RAG responses
  backend/app/services/conversation/handlers/llm_handler.py
Due: test-colocation-python

feat: fix feedback buttons contrast issue in chat widget
  frontend/src/widget/components/FeedbackRating.tsx
  frontend/src/widget/styles/feedback-rating.css
Due: none

fix: only show RAG source citations for actual questions
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

feat(widget): fix feedback icons visibility by consolidating styles
  frontend/src/widget/Widget.tsx
  frontend/src/widget/styles/feedback-rating.css
  frontend/src/widget/utils/shadowDom.ts
Due: none

fix: restore missing _build_system_prompt method in LLMHandler
  backend/app/services/conversation/handlers/llm_handler.py
  frontend/src/widget/schemas/widget.ts
Due: test-colocation-python

fix: deduplicate sources by filename/title in SourceCitation component
  frontend/src/widget/components/SourceCitation.tsx
  frontend/src/widget/components/test_SourceCitation.test.tsx
Due: none

fix: allow CORS for all Vercel app subdomains and rebuild widget
  backend/app/main.py
  backend/app/static/widget/ChatWindow-CsuTLj0E.js
  backend/app/static/widget/ChatWindow-MB6tWEg9.js
  backend/app/static/widget/analyticsService-BN50NOQy.js
  backend/app/static/widget/analyticsService-BeHcUo2D.js
  backend/app/static/widget/loader-DmBM3hj-.js
  backend/app/static/widget/loader-qIePFJwQ.js
  backend/app/static/widget/stats.html
  backend/app/static/widget/widget.es.js
  backend/app/static/widget/widget.umd.js
  backend/app/static/widget/widgetWsClient-Byu0JnqQ.js
  backend/app/static/widget/widgetWsClient-CE2VQzzn.js
  backend/static/widget/ChatWindow-CsuTLj0E.js
  backend/static/widget/ChatWindow-MB6tWEg9.js
  backend/static/widget/analyticsService-BN50NOQy.js
  backend/static/widget/analyticsService-BeHcUo2D.js
  backend/static/widget/loader-DmBM3hj-.js
  backend/static/widget/loader-qIePFJwQ.js
  backend/static/widget/stats.html
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetWsClient-Byu0JnqQ.js
  backend/static/widget/widgetWsClient-CE2VQzzn.js
Due: test-colocation-python

fix: prevent duplicate voice transcript callbacks causing multiple message sends
  frontend/src/widget/components/VoiceInput.tsx
Due: none

feat: add onboarding mode to personality system prompts for tone customization
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/personality/personality_prompts.py
  backend/app/services/personality/test_personality_prompts.py
Due: test-colocation-python

fix: general mode quick reply triggering e-commerce fallback
  backend/app/services/conversation/unified_conversation_service.py
  backend/tests/integration/test_rag_conversation.py
Due: test-colocation-python

fix(embedding): use LLM provider for embeddings
  backend/app/api/widget.py
  backend/app/main.py
  backend/app/schemas/test_widget.py
  backend/app/schemas/widget.py
  backend/app/services/knowledge/chunker.py
  backend/app/services/rag/processing_task.py
  backend/app/services/rag/reembedding_worker.py
  frontend/src/widget/Widget.tsx
  frontend/src/widget/components/FeedbackRating.test.tsx
  frontend/src/widget/components/FeedbackRating.tsx
Due: test-colocation-python, openapi-type-generator

fix: correct Gemini embedding dimension from 768 to 3072
  backend/app/api/llm.py
  backend/tests/api/test_llm_sync.py
Due: test-colocation-python

Remove legacy platform field from Merchant model
  backend/app/api/deployment.py
  backend/app/models/merchant.py
  backend/app/schemas/deployment.py
  backend/app/services/deployment.py
  backend/scripts/seed_test_data.py
  backend/tests/integration/test_handoff_resolution_integration.py
  backend/tests/test_merchant.py
Due: test-colocation-python, openapi-type-generator

fix: handle merchants without LLM config, remove platform field from registration, update widget-test default merchantId
  backend/app/api/auth.py
  backend/app/schemas/deployment.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/rag/processing_task.py
  backend/app/services/rag/reembedding_worker.py
  backend/app/static/widget/widget-test.html
  backend/static/widget/widget-test.html
  frontend/public/widget-test.html
Due: test-colocation-python, openapi-type-generator

fix: set embedding_version during document processing
  backend/app/services/rag/document_processor.py
Due: test-colocation-python

fix: hide source citations when LLM says it couldn't find information
  backend/app/services/conversation/unified_conversation_service.py
  backend/tests/integration/test_story_10_1_source_citations.py
Due: test-colocation-python

feat: make costs page widgets dynamic with real API data
  backend/app/api/cost_tracking.py
  backend/app/schemas/cost_tracking.py
  backend/app/services/cost_tracking/cost_tracking_service.py
  frontend/src/components/costs/tactical/AIRecommendations.tsx
  frontend/src/pages/Costs.test.tsx
  frontend/src/pages/Costs.tsx
  frontend/src/services/costTracking.ts
  frontend/src/types/cost.ts
Due: test-colocation-python, openapi-type-generator

fix: improve source citation contrast and show only top result
  frontend/src/widget/components/SourceCitation.tsx
  frontend/src/widget/components/test_SourceCitation.test.tsx
  frontend/src/widget/styles/source-citation.css
Due: none

feat: improve suggested replies with LLM-powered generation
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/rag/suggestion_generator.py
  backend/tests/services/rag/test_suggestion_generator.py
Due: test-colocation-python

fix: improve contact parameters layout in business info page
  frontend/src/components/widget/ContactOptionsConfig.tsx
Due: none

fix: add auto-refresh to dashboard widgets for consistent live updates
  frontend/src/components/dashboard/FinancialOverviewWidget.tsx
  frontend/src/components/dashboard/GeographicSnapshotWidget.tsx
  frontend/src/components/dashboard/KnowledgeBaseWidget.tsx
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
  frontend/src/components/dashboard/PeakHoursHeatmapWidget.tsx
  frontend/src/components/dashboard/TopTopicsWidget.tsx
Due: none

fix: add consent prompt extraction to widget for conversation persistence
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/types/widget.ts
Due: none

feat: implement knowledge gap detection and tracking
  backend/alembic/versions/20260327_0910_add_knowledge_gaps_table.py
  backend/app/models/__init__.py
  backend/app/models/knowledge_gap.py
  backend/app/models/merchant.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/handoff/detector.py
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
Due: test-colocation-python

fix: knowledge effectiveness widget displays correct data
  backend/app/services/rag/retrieval_service.py
  backend/scripts/backfill_rag_query_logs.py
  frontend/src/components/dashboard/KnowledgeEffectivenessWidget.tsx
  frontend/vite.config.ts
Due: test-colocation-python

fix: update vite proxy to port 8000 and add dev auth headers
  frontend/vite.config.ts
Due: none

fix: resolve RAG greenlet error in widget message service
  .beads/issues.jsonl
  backend/app/services/widget/widget_message_service.py
  backend/tests/services/rag/test_retrieval_service.py
Due: test-colocation-python

fix: add apiBaseUrl configuration to widget and documentation
  docs/widget-integration-guide.md
  docs/widget-quick-start.md
  frontend/src/components/widget/EmbedCodePreview.tsx
  frontend/src/widget/api/widgetClient.ts
Due: none

feat: enhance sentiment analysis with better text matching and feedback integration
  backend/app/services/analytics/__init__.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/app/services/analytics/sentiment_analyzer.py
  backend/tests/unit/test_sentiment_analyzer.py
Due: test-colocation-python

fix: implement session factory pattern to permanently resolve RAG greenlet errors
  DEFINITIVE_RAG_FIX.md
  RAG_FIX_COMPLETE.md
  RAG_INVESTIGATION_REPORT.md
  backend/app/services/rag/context_builder.py
  backend/app/services/rag/retrieval_service.py
  backend/app/services/widget/widget_message_service.py
  backend/tests/integration/test_rag_regression.py
Due: test-colocation-python

fix: resolve timezone mismatch in sentiment-trend API causing 500 error
  backend/app/services/analytics/aggregated_analytics_service.py
Due: test-colocation-python

fix: improve WCAG AA contrast compliance for widget components
  frontend/src/widget/components/FeedbackRating.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/SourceCitation.tsx
Due: none

fix: temporarily skip typecheck for deployment to unblock accessibility fixes
  frontend/package.json
Due: none
