Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

test-colocation-python:
  name: Validate Python test co-location
  entry: python scripts/validate_test_colocation.py
  language: system
  pass_filenames: false

openapi-type-generator:
  name: Generate TypeScript types from OpenAPI
  entry: python scripts/generate_types.py
  language: system
  pass_filenames: false

feat(story-5-12): bot personality consistency across all responses
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/services/conversation/handlers/cart_handler.py
  backend/app/services/conversation/handlers/checkout_handler.py
  backend/app/services/conversation/handlers/handoff_handler.py
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/handlers/search_handler.py
  backend/app/services/order_confirmation/order_confirmation_service.py
  backend/app/services/personality/__init__.py
  backend/app/services/personality/response_formatter.py
  backend/app/services/shipping_notification/service.py
  backend/app/services/shipping_notification/tracking_formatter.py
  backend/tests/integration/test_personality_consistency.py
  backend/tests/services/personality/test_bot_name_validation.py
  backend/tests/services/personality/test_cart_templates.py
  backend/tests/services/personality/test_checkout_templates.py
  backend/tests/services/personality/test_error_templates.py
  backend/tests/services/personality/test_formatter_behavior.py
  backend/tests/services/personality/test_handoff_templates.py
  backend/tests/services/personality/test_order_tracking_templates.py
  backend/tests/services/personality/test_product_search_templates.py
Due: test-colocation-python

feat(story-5-11): migrate Messenger to UnifiedConversationService
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/webhooks/facebook.py
  backend/app/api/webhooks/test_consent_postback.py
  backend/app/models/__init__.py
  backend/app/services/conversation/handlers/cart_handler.py
  backend/app/services/conversation/messenger_adapter.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/test_messenger_adapter.py
  backend/app/services/conversation/test_unified_conversation_service.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/messaging/message_processor.py
  backend/pyproject.toml
Due: test-colocation-python

feat(story-6-1): opt-in consent flow with GDPR/CCPA compliance
  .beads/issues.jsonl
  AGENTS.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/alembic/versions/033_conversation_consent.py
  backend/alembic/versions/034_add_visitor_id_to_consents.py
  backend/app/api/widget.py
  backend/app/core/errors.py
  backend/app/models/consent.py
  backend/app/models/customer_consent.py
  backend/app/models/test_consent.py
  backend/app/models/test_customer_consent.py
  backend/app/schemas/consent.py
  backend/app/services/consent/consent_prompt_service.py
  backend/app/services/consent/extended_consent_service.py
  backend/app/services/consent/test_consent_prompt_service.py
  backend/app/services/consent/test_consent_service.py
  backend/app/services/consent/test_extended_consent_service.py
  backend/app/services/conversation/handlers/__init__.py
  backend/app/services/conversation/handlers/forget_preferences_handler.py
  backend/app/services/conversation/handlers/test_forget_preferences_handler.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/privacy/__init__.py
  backend/app/services/privacy/data_tier_service.py
  backend/app/services/privacy/test_data_tier_service.py
  docs/project-context.md
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/ConsentPrompt.tsx
  frontend/src/widget/components/test_ConsentPrompt.test.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/hooks/useWidgetSession.ts
  frontend/src/widget/schemas/widget.ts
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/storage.ts
  frontend/tests/api/story-6-1-consent-api.spec.ts
  frontend/tests/e2e/story-6-1-consent-flow.spec.ts
Due: test-colocation-python, openapi-type-generator

feat(story-6-2): implement request data deletion with audit trail,Story 6-2: Request Data Deletion - Implementation Complete
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/035_add_deletion_audit_log.py
  backend/app/models/__init__.py
  backend/app/models/deletion_audit_log.py
  backend/app/services/consent/extended_consent_service.py
  backend/app/services/consent/test_extended_consent_service.py
  backend/app/services/conversation/handlers/forget_preferences_handler.py
  backend/app/services/conversation/schemas.py
  echo
  frontend/tests/e2e/story-6-2-request-data-deletion.spec.ts
Due: test-colocation-python

docs(story-6-2): update sprint status and file list
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

test(story-6-2): add API tests for consent deletion endpoint
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/api/test_widget_consent.py
  backend/app/services/consent/extended_consent_service.py
  backend/app/services/consent/test_extended_consent_service.py
  backend/app/services/conversation/handlers/forget_preferences_handler.py
  frontend/tests/api/story-6-2/concurrent-errors.spec.ts
  frontend/tests/api/story-6-2/core-deletion.spec.ts
  frontend/tests/api/story-6-2/cross-platform.spec.ts
  frontend/tests/api/story-6-2/helpers.ts
  frontend/tests/api/story-6-2/rate-limiting.spec.ts
Due: test-colocation-python

feat(story-4-13): add 9 Shopify webhook handlers with notifications
  backend/app/api/webhooks/shopify.py
  frontend/src/pages/Settings.tsx
Due: test-colocation-python

fix(story-5-12): improve greeting suggestions and fix variable substitution
  backend/app/api/merchant.py
  backend/app/services/conversation/handlers/greeting_handler.py
  frontend/src/components/business-info/GreetingConfig.tsx
  frontend/src/pages/PersonalityConfig.tsx
  frontend/src/services/merchantConfig.ts
  frontend/src/types/enums.ts
  frontend/src/utils/toneDetection.ts
Due: test-colocation-python

fix(story-6-1): Critical bug fixes for widget consent and conversation persistence
  .beads/issues.jsonl
  backend/app/api/widget.py
  backend/app/services/conversation/unified_conversation_service.py
  frontend/src/widget/context/WidgetContext.tsx
Due: test-colocation-python

feat(story-6-3): merchant CSV export with GDPR/CCPA compliance
  backend/alembic/versions/019_add_handoff_fields.py
  backend/alembic/versions/036_add_data_export_audit_log.py
  backend/app/api/data_export.py
  backend/app/api/test_data_export.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/data_export_audit_log.py
  backend/app/services/export/merchant_data_export_service.py
  docs/data-export-format.md
  docs/merchant-data-export-guide.md
  frontend/src/components/ExportButton.tsx
  frontend/src/hooks/useDataExport.ts
  frontend/src/pages/Settings.tsx
  frontend/tests/e2e/story-6-3-merchant-csv-export.spec.ts
Due: test-colocation-python

fix(story-6-3): stream CSV chunks instead of buffering
  backend/app/services/export/merchant_data_export_service.py
Due: test-colocation-python

fix(export): consent status lookup by both visitor_id and session_id
  backend/app/services/export/merchant_data_export_service.py
Due: test-colocation-python

fix(export): show actual message counts and content placeholder
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/export/merchant_data_export_service.py
Due: test-colocation-python

feat(export): add HANDOFFS section for audit and review
  backend/app/services/export/merchant_data_export_service.py
Due: test-colocation-python

feat: implement data tier separation (Story 6-4 Tasks 1-4)
  .beads/issues.jsonl
  backend/alembic/versions/037_add_data_tier_columns.py
  backend/app/models/conversation.py
  backend/app/models/message.py
  backend/app/models/order.py
  backend/app/services/consent/extended_consent_service.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/privacy/data_tier_service.py
  backend/app/services/privacy/retention_service.py
  backend/app/services/privacy/test_data_tier_service.py
  backend/tests/integration/test_consent_tier_integration.py
  backend/tests/integration/test_data_tier_migration.py
Due: test-colocation-python

feat: add tier-aware analytics with PII stripping (Story 6-4 Task 6)
  backend/app/api/analytics.py
  backend/app/services/analytics/aggregated_analytics_service.py
Due: test-colocation-python

docs: add data tier separation documentation and error codes (Story 6-4 Task 10)
  backend/app/core/errors.py
  docs/data-tier-separation.md
Due: test-colocation-python

test: add comprehensive unit tests for data tier (Story 6-4 Task 7)
  backend/app/services/analytics/test_aggregated_analytics_service.py
  backend/app/services/privacy/test_retention_service.py
  backend/tests/unit/test_tier_transitions.py
Due: test-colocation-python

docs: mark Task 7 complete - all backend unit tests passing
  backend/tests/unit/test_tier_transitions.py
Due: none

test: complete API integration and E2E tests (Story 6-4 Tasks 8-9)
  backend/tests/integration/test_data_tier_api.py
  tests/e2e/story-6-4-data-tier-separation.spec.ts
Due: none

test: fix all Story 6-4 integration and E2E tests (100% passing)
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/tests/conftest.py
  backend/tests/integration/test_consent_tier_integration.py
  backend/tests/integration/test_data_tier_api.py
  frontend/tests/e2e/story-6-4-data-tier-separation.spec.ts
  frontend/tests/fixtures/story-6-4-data-tier-helpers.ts
Due: none

feat: complete Story 6-4 data tier separation implementation
  backend/app/api/analytics.py
  backend/app/api/consent.py
  backend/app/api/data_export.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/models/conversation.py
  backend/app/models/message.py
  backend/app/models/order.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/app/services/export/merchant_data_export_service.py
  backend/app/services/privacy/retention_service.py
Due: test-colocation-python

feat(retention): implement 30-day retention enforcement (Story 6-5)
  .beads/issues.jsonl
  .serena/memories/data-tier-tests-completion.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/.env.bak
  backend/alembic/versions/038_add_retention_audit_fields.py
  backend/app/api/audit.py
  backend/app/api/health.py
  backend/app/background_jobs/data_retention.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/deletion_audit_log.py
  backend/app/services/data_retention.py
  backend/app/services/privacy/retention_service.py
  backend/app/services/privacy/test_retention_enforcement.py
  backend/docs/data-tier-separation.md
  backend/docs/retention-monitoring-runbook.md
Due: test-colocation-python

fix(story-6-5): Complete remaining tasks and fix test issues
  backend/app/api/audit.py
  backend/app/api/test_retention_api.py
  backend/app/conftest.py
  backend/app/main.py
  backend/app/models/deletion_audit_log.py
  backend/app/services/privacy/retention_service.py
  backend/app/services/privacy/test_retention_enforcement.py
Due: test-colocation-python

review(story-6-5): Code review - Update task tracking and documentation
  frontend/src/components/App.tsx
  frontend/src/components/RouteGuards.tsx
  frontend/src/components/retention/AuditLogViewer.tsx
  frontend/src/components/retention/RetentionJobStatus.tsx
  frontend/src/pages/AuditLogs.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/tests/e2e/story-6-5-30-day-retention-enforcement.spec.ts
  frontend/tests/e2e/story-6-5/audit-log-viewer.spec.ts
  frontend/tests/e2e/story-6-5/dashboard-loading.spec.ts
  frontend/tests/e2e/story-6-5/error-handling.spec.ts
  frontend/tests/e2e/story-6-5/fixtures.ts
  frontend/tests/e2e/story-6-5/operational-data-preservation.spec.ts
  frontend/tests/e2e/story-6-5/retention-job-status.spec.ts
  frontend/tests/e2e/test-utils/factories/retention-factories.ts
Due: none

feat(story-6-4): Complete data tier integration in consent service
  backend/app/api/consent.py
  backend/app/main.py
  backend/app/services/consent/extended_consent_service.py
  backend/tests/integration/test_consent_tier_integration.py
Due: test-colocation-python

docs: update story 6-4 verification results and fix retention message cascade
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/services/privacy/retention_service.py
  backend/app/services/privacy/test_retention_service.py
Due: test-colocation-python

test(story-6-5): Complete test automation with all tests passing
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/alembic/versions/039_add_message_metadata.py
Due: none

feat(gdpr): Story 6-6 - GDPR deletion processing implementation
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/040_add_gdpr_tracking_fields.py
  backend/app/api/data_deletion.py
  backend/app/background_jobs/data_retention.py
  backend/app/background_jobs/gdpr_compliance_check.py
  backend/app/core/errors.py
  backend/app/models/deletion_audit_log.py
  backend/app/services/email/__init__.py
  backend/app/services/email/email_service.py
  backend/app/services/privacy/compliance_monitor.py
  backend/app/services/privacy/gdpr_service.py
  backend/app/services/shopify/order_processor.py
  backend/check_db.py
  backend/tests/unit/privacy/test_gdpr_service.py
Due: test-colocation-python

fix(tests): fix GDPR service unit tests and add missing enum types
  .beads/issues.jsonl
  backend/app/services/shipping_notification/service.py
  backend/tests/conftest.py
  backend/tests/unit/privacy/test_gdpr_service.py
  backend/tests/unit/shipping_notification/test_gdpr_check.py
Due: test-colocation-python

feat(api): add GDPR API integration tests (Task 7)
  backend/app/middleware/auth.py
  backend/tests/api/test_gdpr_api.py
Due: test-colocation-python

test(e2e): add Story 6-6 GDPR E2E tests (Task 8)
  frontend/tests/e2e/story-6-6/gdpr-deletion-processing.spec.ts
Due: none

docs(story-6-6): mark Tasks 7 and 8 complete
  _bmad-output/implementation-artifacts/6-6-gdpr-deletion-processing.md
Due: none

docs: update QA Automation summary in story 6-6 document
  _bmad-output/implementation-artifacts/6-6-gdpr-deletion-processing.md
  _bmad-output/implementation-artifacts/tests/test-summary.md
Due: none

feat(privacy): implement story 6-6 GDPR deletion processing
  backend/app/background_jobs/data_retention.py
  backend/app/background_jobs/gdpr_email_sender.py
  backend/app/models/deletion_audit_log.py
  backend/app/services/privacy/gdpr_service.py
  backend/tests/api/test_gdpr_api.py
  backend/tests/api/test_order_gdpr_check.py
  backend/tests/unit/privacy/test_gdpr_service.py
  frontend/tests/e2e/story-6-6/gdpr-deletion-processing.spec.ts
Due: test-colocation-python

chore: add/update verify and check scripts for GDPR and retention
  backend/check_db.py
  backend/verify_retention_6_5.py
Due: none

feat(story-6-6): Add seeded test account for manual testing
  _bmad-output/implementation-artifacts/6-6-gdpr-deletion-processing.md
  backend/seed_test_account.py
Due: none

fix: OAuth popup message handler race condition
  frontend/src/stores/integrationsStore.ts
Due: none

fix: allow Shopify OAuth reconnection to update existing integration
  backend/app/services/shopify_oauth.py
Due: test-colocation-python

Path conditions:
  test-colocation-python: any of: ^backend/app/ and \.py$
  openapi-type-generator: any of: ^backend/app/schemas/.*\.py$
