Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

test-colocation-python:
  name: Validate Python test co-location
  entry: python scripts/validate_test_colocation.py
  language: system
  pass_filenames: false

openapi-type-generator:
  name: Generate TypeScript types from OpenAPI
  entry: python scripts/generate_types.py
  language: system
  pass_filenames: false

fix: improve knowledge effectiveness widget refresh rate and backfill script
  backend/scripts/backfill_rag_query_logs.py
  frontend/src/components/dashboard/KnowledgeEffectivenessWidget.tsx
Due: none

fix: lower RAG similarity threshold to improve location query retrieval
  backend/app/services/rag/retrieval_service.py
Due: test-colocation-python

fix: show consent prompt automatically for new chat sessions
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

fix: resolve CORS errors for widget requests through zrok proxy
  CORS_FIX_SUMMARY.md
  backend/app/api/widget.py
  backend/app/main.py
  backend/app/middleware/cors.py
Due: test-colocation-python

fix: resolve feedback widget and sentiment analytics issues
  .beads/issues.jsonl
  backend/alembic/versions/20260326_1709-46d19402406c_add_response_type_to_llm_conversation_.py
  backend/alembic/versions/20260326_2116-9580e911f8fb_remove_platform_column.py
  backend/alembic/versions/20260327_2219-bcdcbceb4989_add_widget_message_id_to_feedback.py
  backend/alembic/versions/20260327_2304-dfd9eb30064f_add_merchant_id_to_feedback.py
  backend/app/api/feedback.py
  backend/app/api/widget.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/models/message_feedback.py
  backend/app/schemas/feedback.py
  backend/app/schemas/widget.py
  backend/app/services/analytics/aggregated_analytics_service.py
  backend/app/services/widget/widget_message_service.py
  backend/app/services/widget/widget_session_service.py
  docker-compose.yml
  frontend/src/components/demo/styles.ts
  frontend/src/components/onboarding/DeploymentWizard.tsx
  frontend/src/components/onboarding/OllamaConfig.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/FeedbackRating.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/SourceCitation.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/loader.ts
  frontend/src/widget/types/widget.ts
  frontend/vite.config.ts
Due: test-colocation-python, openapi-type-generator

feat: implement CSAT collection for Neural Performance widget
  .beads/issues.jsonl
  CSAT_COLLECTION_IMPLEMENTATION.md
  CSAT_IMPLEMENTATION_SUMMARY.md
  backend/app/api/feedback.py
  test-csat-feedback.html
  test_bot_quality_refresh.md
Due: test-colocation-python

fix: close conversations when widget sessions end
  CONVERSATION_CLOSURE_FIX.md
  CONVERSATION_LIFECYCLE.md
  backend/app/services/widget/widget_session_service.py
  backend/scripts/close_active_conversations.py
Due: test-colocation-python

feat: implement FAQ click tracking for usage analytics
  backend/app/api/faq_click.py
  backend/app/main.py
  backend/app/services/analytics/widget_analytics_service.py
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
Due: test-colocation-python

feat: add widget visibility fix CSS for portfolio site integration
  WIDGET_INVISIBLE_FIX.md
  frontend/public/widget-visibility-fix.css
  widget-diagnostic-page.html
  widget-diagnostic.js
  widget-visibility-fix.css
Due: none

fix: resolve dispatch error in widget and enable FAQ click tracking
  DEPLOY_CSS_FIX.md
  FAQ_CLICK_TRACKING_IMPLEMENTATION.md
  FAQ_CLICK_TRACKING_TEST_RESULTS.md
  ZROK_FIX_INSTRUCTIONS.md
  backend/static/widget/ChatWindow-BSfG3xno.js
  backend/static/widget/ChatWindow-BzEuKma9.js
  backend/static/widget/analyticsService-C5y6Vdj-.js
  backend/static/widget/analyticsService-DGYnu66b.js
  backend/static/widget/loader-DbclbWvs.js
  backend/static/widget/loader-DpTeGBFq.js
  backend/static/widget/stats.html
  backend/static/widget/style.css
  backend/static/widget/widget-visibility-fix.css
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetWsClient-BH8gnma_.js
  backend/static/widget/widgetWsClient-BQDxWwvW.js
  frontend/src/widget/Widget.tsx
Due: none

feat: implement WebSocket real-time updates for Knowledge Effectiveness Widget
  WEBSOCKET_REALTIME_IMPLEMENTATION.md
  WEBSOCKET_REALTIME_SUMMARY.md
  backend/app/api/dashboard_ws.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/services/analytics/dashboard_websocket_manager.py
  backend/app/services/analytics/rag_query_broadcaster.py
  frontend/src/components/dashboard/KnowledgeEffectivenessWidget.tsx
  frontend/src/services/dashboardWebSocketService.ts
Due: test-colocation-python

fix: convert middleware to pure ASGI to prevent Set-Cookie header drop
  backend/app/core/test_rate_limiter.py
  backend/app/main.py
  backend/app/middleware/cors.py
  backend/app/middleware/csrf.py
  backend/app/middleware/security.py
  backend/app/middleware/test_auth.py
  backend/app/middleware/test_csrf.py
  backend/app/middleware/test_security.py
Due: test-colocation-python

fix: rewrite rate limiter tests to match current RateLimiter API
  backend/app/core/test_rate_limiter.py
Due: test-colocation-python

fix: remove duplicate CORS middleware causing double Access-Control-Allow-Origin header
  backend/app/api/widget.py
  backend/app/main.py
  backend/app/middleware/cors.py
Due: test-colocation-python

fix: resolve widget infinite loading and improve error handling
  backend/app/main.py
  docker-compose.yml
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/api/widgetWsClient.ts
  frontend/src/widget/context/WidgetContext.tsx
Due: test-colocation-python

fix: RAG session factory returning sessionmaker instead of session
  backend/app/services/widget/widget_message_service.py
  backend/tests/services/rag/test_retrieval_service.py
Due: test-colocation-python

fix: enhance RAG system with improved retrieval and critical bug fixes
  backend/app/api/knowledge_base.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/knowledge/chunker.py
  backend/app/services/rag/context_builder.py
  backend/app/services/rag/retrieval_service.py
  backend/app/services/widget/widget_message_service.py
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
Due: test-colocation-python

fix: enable Contact Us button by fixing contact options retrieval
  add_contact_options.py
  backend/app/services/conversation/handlers/handoff_handler.py
  check_contact_options.py
  test-contact-button.html
Due: test-colocation-python

feat: add knowledge gap action options for FAQ and document upload
  frontend/src/components/business-info/FaqForm.tsx
  frontend/src/components/business-info/FaqList.tsx
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
  frontend/src/pages/BusinessInfoFaqConfig.tsx
Due: none

feat: complete dashboard redesign with interactive charts and accessibility improvements
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/charts/AreaChart.tsx
  frontend/src/components/charts/BarChart.tsx
  frontend/src/components/charts/BaseChart.tsx
  frontend/src/components/charts/BoxPlot.tsx
  frontend/src/components/charts/BubbleChart.tsx
  frontend/src/components/charts/ChartFilters.tsx
  frontend/src/components/charts/ChartTooltip.tsx
  frontend/src/components/charts/CircularProgress.tsx
  frontend/src/components/charts/DonutChart.tsx
  frontend/src/components/charts/RadarChart.tsx
  frontend/src/components/charts/StackedAreaChart.tsx
  frontend/src/components/charts/TimelineChart.tsx
  frontend/src/components/charts/TreemapChart.tsx
  frontend/src/components/charts/index.ts
  frontend/src/components/dashboard/AICostWidget.tsx
  frontend/src/components/dashboard/AlertDetailPanel.test.tsx
  frontend/src/components/dashboard/AlertDetailPanel.tsx
  frontend/src/components/dashboard/AlertsWidget.tsx
  frontend/src/components/dashboard/BotQualityWidget.tsx
  frontend/src/components/dashboard/ConversationOverviewWidget.tsx
  frontend/src/components/dashboard/CustomerSentimentWidget.tsx
  frontend/src/components/dashboard/FAQUsageWidget.tsx
  frontend/src/components/dashboard/HandoffQueueWidget.tsx
  frontend/src/components/dashboard/KnowledgeBaseWidget.tsx
  frontend/src/components/dashboard/KnowledgeEffectivenessWidget.tsx
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
  frontend/src/components/dashboard/NarrativeFlowConnector.tsx
  frontend/src/components/dashboard/NarrativeSection.tsx
  frontend/src/components/dashboard/ResponseTimeWidget.tsx
  frontend/src/components/dashboard/StatCard.tsx
  frontend/src/components/dashboard/TopTopicsWidget.tsx
  frontend/src/index.css
  frontend/src/pages/Dashboard.tsx
  frontend/src/utils/encryption.ts
Due: none

fix: decrypt encrypted topic names in Semantic Clusters widget
  backend/app/services/analytics/aggregated_analytics_service.py
  docker-compose.yml
  frontend/src/components/dashboard/TopTopicsWidget.tsx
Due: test-colocation-python

feat: add expandable lists to dashboard widgets with 3-item limit
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
  frontend/src/components/dashboard/TopTopicsWidget.tsx
Due: none

fix: enable WebSocket connections through zrok tunnel
  WEBSOCKET_FIX_COMPLETE.md
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/static/widget/ChatWindow-C_4hpjKq.js
  backend/static/widget/analyticsService-CQ89FNbN.js
  backend/static/widget/loader-BNVANRgf.js
  backend/static/widget/widgetWsClient-Bk7afe6C.js
  test-websocket-zrok.html
Due: test-colocation-python

fix: resolve RAG query logging issues and add monitoring tools
  BAR_CHART_FIX_COMPLETE.md
  RAG_QUERY_LOG_SETUP_COMPLETE.md
  backend/scripts/generate_realistic_query_data.py
  backend/scripts/monitor_rag_logs.py
Due: none

fix: add automatic cleanup for stale widget conversations
  backend/app/background_jobs/widget_conversation_cleanup.py
  backend/app/main.py
  backend/app/services/widget/widget_conversation_cleanup_service.py
  backend/scripts/cleanup_stale_widget_conversations.py
Due: test-colocation-python

feat: redesign Intelligence Gap widget with card-based layout for better UX
  frontend/src/components/dashboard/KnowledgeGapWidget.tsx
Due: none

feat: redesign Neural Performance widget with better UX
  frontend/src/components/dashboard/BotQualityWidget.tsx
Due: none

feat: redesign e-commerce dashboard with narrative flow layout
  ECOMMERCE_DASHBOARD_NARRATIVE_IMPLEMENTATION.md
  backend/app/services/analytics/aggregated_analytics_service.py
  frontend/src/pages/Dashboard.tsx
Due: test-colocation-python

perf: optimize Answer Performance dashboard for production
  PERFORMANCE_OPTIMIZATION_SUMMARY.md
  backend/app/api/analytics.py
  backend/app/services/analytics/aggregated_analytics_service.py
  frontend/src/components/dashboard/AnswerQualityScoreWidget.optimized.tsx
  frontend/src/components/dashboard/QueryPerformanceWidget.tsx
Due: test-colocation-python

fix: hide ProductPinList in general chatbot mode
  frontend/src/pages/BotConfig.tsx
Due: none

docs: add ULTRATHINK strategy and frontend architecture guidelines
  AGENTS.md
Due: none

feat: redesign onboarding with interactive UX and plain language
  ONBOARDING_REDESIGN_SUMMARY.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/onboarding/CelebrationAnimation.tsx
  frontend/src/components/onboarding/LivePreviewPanel.tsx
  frontend/src/components/onboarding/ModeSelection.tsx
  frontend/src/components/onboarding/PrerequisiteChecklist.tsx
  frontend/src/components/onboarding/ProgressBarWithMilestones.tsx
  frontend/src/pages/Onboarding.tsx
Due: none

feat: add conversation context memory with CSRF protection (Story 11-1)
  .beads/issues.jsonl
  backend/alembic/versions/20260331_1800-xtrwpjgs_add_conversation_context_tables.py
  backend/alembic/versions/20260331_1832-746061b0e712_fix_conversation_context_timezone_.py
  backend/app/api/conversation_context.py
  backend/app/api/test_conversation_context.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/conversation_context.py
  backend/app/models/test_conversation_context.py
  backend/app/schemas/__init__.py
  backend/app/schemas/conversation_context.py
  backend/app/services/context/__init__.py
  backend/app/services/context/base.py
  backend/app/services/context/ecommerce_extractor.py
  backend/app/services/context/general_extractor.py
  backend/app/services/context_summarizer.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/handlers/test_llm_handler_context_integration.py
  backend/app/services/conversation/messenger_adapter.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation_context.py
  backend/app/services/widget/widget_message_service.py
  backend/tests/test_context_summarizer.py
  backend/tests/test_conversation_context_service.py
Due: test-colocation-python, openapi-type-generator

test: fix CSRF token handling in conversation context API tests
  backend/app/api/test_conversation_context.py
Due: test-colocation-python

fix: complete Story 11-1 conversation context implementation
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/conftest.py
  backend/app/services/conversation_context.py
  backend/tests/integration/test_story_11_1_e2e.py
  backend/tests/test_conversation_context_service.py
Due: test-colocation-python

feat: address Story 11-1 remaining items (migrations, CI/CD, technical debt)
  .github/workflows/story-11-1-e2e-tests.yml
  backend/alembic/versions/030_fix_business_hours_keys.py
  backend/app/services/context/llm_context_extractor.py
  backend/scripts/cleanup_e2e_database.sh
  backend/scripts/setup_e2e_database.sh
  docs/technical-debt/11-1-conversation-context.md
Due: test-colocation-python

test: add TEA-generated test coverage for Story 11.1 (61 new tests)
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/context/ecommerce_extractor.py
  backend/app/services/context/general_extractor.py
  backend/app/services/conversation_context.py
  backend/tests/api/test_conversation_context_api.py
  backend/tests/test_conversation_context_service.py
  backend/tests/unit/test_context_extractors.py
  backend/tests/unit/test_context_schemas_and_constraints.py
Due: test-colocation-python

feat: add stream_chat() to LLM service layer for real-time token streaming (Story 11-1)
  .beads/issues.jsonl
  backend/app/services/cost_tracking/budget_aware_llm_wrapper.py
  backend/app/services/llm/__init__.py
  backend/app/services/llm/anthropic_service.py
  backend/app/services/llm/base_llm_service.py
  backend/app/services/llm/llm_router.py
  backend/app/services/llm/mock_service.py
  backend/app/services/llm/ollama_service.py
  backend/app/services/llm/openai_service.py
  backend/app/services/llm/test_streaming.py
Due: test-colocation-python

refactor: reorganize Story 11-1 conversation context tests and update technical debt docs
  backend/tests/api/test_conversation_context_api.py
  backend/tests/api/test_conversation_context_summarize_api.py
  backend/tests/helpers/__init__.py
  backend/tests/helpers/context_factories.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_11_1_ecommerce_e2e.py
  backend/tests/integration/test_11_1_general_expiry_e2e.py
  backend/tests/integration/test_story_11_1_e2e.py
  backend/tests/test_context_service.py
  backend/tests/test_conversation_context_service.py
  backend/tests/test_ecommerce_extractor.py
  backend/tests/test_general_extractor.py
  docs/technical-debt/11-1-conversation-context.md
Due: none

Path conditions:
  test-colocation-python: any of: ^backend/app/ and \.py$
  openapi-type-generator: any of: ^backend/app/schemas/.*\.py$
