Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Shopping Assistant Bot - Pattern Tooling Enforcement

repos:
  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key

  # Python: Formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']

  # Python: Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: ^backend/

  # Python: Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-r', 'backend/app', '-ll']
        files: ^backend/

  # Custom hooks - Test colocation validation
  - repo: local
    hooks:
      - id: test-colocation-python
        name: Validate Python test co-location
        entry: python scripts/validate_test_colocation.py
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

  # Custom hooks - Type generation (only when schemas change)
  - repo: local
    hooks:
      - id: openapi-type-generator
        name: Generate TypeScript types from OpenAPI
        entry: python scripts/generate_types.py
        language: system
        pass_filenames: false
        files: ^backend/app/schemas/.*\.py$

# Frontend hooks (enable when frontend scripts are created)
# Uncomment when ready:
#
#   - repo: local
#     hooks:
#       - id: test-colocation-typescript
#         name: Validate TypeScript test co-location
#         entry: node scripts/hooks/test-colocation.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false
#
#   - repo: local
#     hooks:
#       - id: api-version-prefix
#         name: Validate API version prefix
#         entry: node scripts/hooks/api-version.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false

# Phase 2 hooks (add after base setup)
# Uncomment when ready:
#
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#       - id: mypy
#         additional_dependencies: [pydantic>=2.0, types-requests]
#         args: [--ignore-missing-imports]
#         files: ^backend/
#
#   - repo: https://github.com/pre-commit/mirrors-eslint
#     rev: v8.56.0
#     hooks:
#       - id: eslint
#         types: [typescript]
#         files: ^frontend/
#         additional_dependencies:
#           - eslint@^8.56.0
#           - '@typescript-eslint/eslint-plugin'
#           - '@typescript-eslint/parser'

feat: Story 11-2: Multi-turn Query Handling with state machine, orcheststration layer
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/11-2-multi-turn-query-handling.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260326_2116-9580e911f8fb_remove_platform_column.py
  backend/app/api/multi_turn.py
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/merchant.py
  backend/app/services/clarification/clarification_service.py
  backend/app/services/clarification/question_generator.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/multi_turn/__init__.py
  backend/app/services/multi_turn/constraint_accumulator.py
  backend/app/services/multi_turn/conversation_lock.py
  backend/app/services/multi_turn/message_classifier.py
  backend/app/services/multi_turn/schemas.py
  backend/app/services/multi_turn/state_machine.py
  backend/tests/api/test_multi_turn_api.py
  backend/tests/integration/test_multi_turn_ecommerce.py
  backend/tests/integration/test_multi_turn_general.py
  backend/tests/unit/test_constraint_accumulator.py
  backend/tests/unit/test_message_classifier.py
  backend/tests/unit/test_multi_turn_schemas.py
  backend/tests/unit/test_multi_turn_state_machine.py
  frontend/src/components/auth/CostValuePanel.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Register.tsx
Due: test-colocation-python

test: add TEA automation coverage for Story 11-2 multi-turn query handling (100 new tests)
  _bmad-output/implementation-artifacts/11-2-multi-turn-query-handling.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/multi_turn.py
  backend/app/services/clarification/clarification_service.py
  backend/app/services/clarification/question_generator.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/multi_turn/__init__.py
  backend/app/services/multi_turn/constraint_accumulator.py
  backend/app/services/multi_turn/conversation_lock.py
  backend/app/services/multi_turn/state_machine.py
  backend/tests/api/test_multi_turn_api_http.py
  backend/tests/integration/test_concurrent_multi_turn.py
  backend/tests/integration/test_multi_turn_orchestration.py
  backend/tests/unit/test_conversation_lock.py
  backend/tests/unit/test_message_classifier_llm_success.py
  backend/tests/unit/test_state_machine_complete_transitions.py
  backend/tests/unit/test_topic_change_edge_cases.py
  frontend/tests/e2e/story-11-2-multi-turn-clarification.spec.ts
  frontend/tests/e2e/story-11-2-multi-turn-general-mode.spec.ts
  frontend/tests/helpers/multi-turn-test-helpers.ts
Due: test-colocation-python

refactor: improve Story 11.2 E2E test quality per test review recommendations
  .beads/issues.jsonl
  docs/technical-debt/11-2-multi-turn-query-handling.md
  frontend/tests/e2e/story-11-2-multi-turn-clarification.spec.ts
  frontend/tests/e2e/story-11-2-multi-turn-general-mode.spec.ts
  frontend/tests/helpers/multi-turn-test-helpers.ts
Due: none

feat: address Story 11-2 tech debt — WS streaming, state adapter, multi-currency, CI workflow
  .github/workflows/story-11-2-e2e-tests.yml
  _bmad-output/automation-summary-story-11-2.md
  _bmad-output/implementation-artifacts/11-2-multi-turn-query-handling.md
  backend/app/api/widget.py
  backend/app/schemas/widget.py
  backend/app/services/multi_turn/__init__.py
  backend/app/services/multi_turn/constraint_accumulator.py
  backend/app/services/multi_turn/conversation_lock.py
  backend/app/services/multi_turn/state_persistence.py
  backend/app/services/widget/connection_manager.py
  backend/app/services/widget/widget_message_service.py
  docs/technical-debt/11-2-multi-turn-query-handling.md
Due: test-colocation-python, openapi-type-generator

feat: Story 11-3 — natural language variations for intent classification
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/context/__init__.py
  backend/app/services/context/ecommerce_extractor.py
  backend/app/services/context/general_extractor.py
  backend/app/services/context/llm_context_extractor.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/intent/__init__.py
  backend/app/services/intent/prompt_templates.py
  backend/app/services/intent/variation_maps.py
  backend/tests/unit/test_intent_variations.py
  backend/tests/unit/test_llm_context_extractor_fixed.py
  backend/tests/unit/test_variation_maps.py
Due: test-colocation-python

fix: Story 11-3 code review — 5 HIGH + 4 MEDIUM issues fixed
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/context/ecommerce_extractor.py
  backend/app/services/context/general_extractor.py
  backend/app/services/context/llm_context_extractor.py
  backend/app/services/intent/prompt_templates.py
  backend/app/services/intent/variation_maps.py
Due: test-colocation-python

feat(story-11-3): frontend stream consumer — WS streaming UI with REST fallback
  _bmad-output/automation-summary-story-11-3.md
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/api/widgetWsClient.ts
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/StreamingIndicator.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/types/widget.ts
  frontend/tests/e2e/story-11-3-streaming-error-fallback.spec.ts
  frontend/tests/e2e/story-11-3-streaming-message-flow.spec.ts
  frontend/tests/helpers/streaming-test-helpers.ts
  frontend/tests/helpers/widget-test-helpers.ts
Due: none

fix(story-11-3): rewrite streaming E2E tests — all 10 passing with polling coordination pattern
  docs/technical-debt/11-3-streaming-message-flow.md
  frontend/tests/e2e/story-11-3-streaming-error-fallback.spec.ts
  frontend/tests/e2e/story-11-3-streaming-message-flow.spec.ts
  frontend/tests/helpers/streaming-test-helpers.ts
Due: none

fix(story-11-3): resolve party-mode review action items — messageId mismatch, reducer leak, hard waits, helper refactor
  _bmad-output/automation-summary-story-11-3.md
  docs/technical-debt/11-3-streaming-message-flow.md
  frontend/src/widget/api/widgetWsClient.ts
  frontend/src/widget/context/WidgetContext.tsx
  frontend/tests/e2e/story-11-3-streaming-error-fallback.spec.ts
  frontend/tests/e2e/story-11-3-streaming-message-flow.spec.ts
  frontend/tests/helpers/streaming-test-helpers.ts
Due: none

feat(story-11-4): conversational transition phrases with code review fixes
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/conversation/handlers/cart_handler.py
  backend/app/services/conversation/handlers/checkout_handler.py
  backend/app/services/conversation/handlers/clarification_handler.py
  backend/app/services/conversation/handlers/handoff_handler.py
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/handlers/search_handler.py
  backend/app/services/personality/__init__.py
  backend/app/services/personality/personality_prompts.py
  backend/app/services/personality/response_formatter.py
  backend/app/services/personality/transition_phrases.py
  backend/app/services/personality/transition_selector.py
  backend/tests/unit/test_transition_integration.py
  backend/tests/unit/test_transition_phrases.py
  backend/tests/unit/test_transition_selector.py
Due: test-colocation-python

fix: resolve FK failures in test_tier_transitions.py
  backend/tests/unit/test_tier_transitions.py
Due: none

refactor(story-11-4): test review — split monolith, add coverage gaps, extract assertion helpers
  backend/tests/integration/test_transition_flow.py
  backend/tests/unit/handler_transitions/__init__.py
  backend/tests/unit/handler_transitions/conftest.py
  backend/tests/unit/handler_transitions/test_cart_transitions.py
  backend/tests/unit/handler_transitions/test_checkout_transitions.py
  backend/tests/unit/handler_transitions/test_clarification_transitions.py
  backend/tests/unit/handler_transitions/test_confirmation_transitions.py
  backend/tests/unit/handler_transitions/test_error_transitions.py
  backend/tests/unit/handler_transitions/test_general_mode_transitions.py
  backend/tests/unit/handler_transitions/test_handoff_transitions.py
  backend/tests/unit/handler_transitions/test_mode_specific_transitions.py
  backend/tests/unit/handler_transitions/test_order_transitions.py
  backend/tests/unit/handler_transitions/test_search_transitions.py
  backend/tests/unit/helpers/__init__.py
  backend/tests/unit/helpers/transition_assertions.py
  backend/tests/unit/test_transition_coverage.py
  backend/tests/unit/test_transition_performance.py
Due: none

fix(story-11-4): address review gaps — thread safety docs, FIFO eviction, handler wiring, deterministic tests
  backend/app/services/conversation/handlers/general_mode_fallback.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/transition_selector.py
  backend/tests/unit/handler_transitions/conftest.py
  backend/tests/unit/test_transition_coverage.py
  backend/tests/unit/test_transition_integration.py
  backend/tests/unit/test_transition_performance.py
  backend/tests/unit/test_transition_selector.py
  docs/technical-debt/11-4-conversational-transition-phrases.md
Due: test-colocation-python

feat(story-11-5): personality consistency — validator, tracker, middleware, string migration, 47 integration tests
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/11-5-personality-consistency.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/conversation/handlers/check_consent_handler.py
  backend/app/services/conversation/handlers/clarification_handler.py
  backend/app/services/conversation/handlers/forget_preferences_handler.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/personality/__init__.py
  backend/app/services/personality/conversation_templates.py
  backend/app/services/personality/messenger_templates.py
  backend/app/services/personality/personality_middleware.py
  backend/app/services/personality/personality_prompts.py
  backend/app/services/personality/personality_reinforcement.py
  backend/app/services/personality/personality_tracker.py
  backend/app/services/personality/personality_validator.py
  backend/app/services/personality/response_formatter.py
  backend/app/services/personality/test_greeting_service.py
  backend/tests/integration/test_personality_consistency.py
  backend/tests/integration/test_story_11_5_personality_integration.py
  backend/tests/unit/test_cross_channel_personality.py
  backend/tests/unit/test_messenger_personality.py
  backend/tests/unit/test_personality_middleware.py
  backend/tests/unit/test_personality_reinforcement.py
  backend/tests/unit/test_personality_tracker.py
  backend/tests/unit/test_personality_validator.py
Due: test-colocation-python

fix(story-11-5): E2E tests pass on all 3 browsers (Chromium, Firefox, WebKit)
  _bmad-output/implementation-artifacts/11-5-personality-consistency.md
  frontend/tests/e2e/story-11-5-personality-consistency.spec.ts
Due: none

feat(story-11-6): contextual product recommendations — scoring, diversity, dismissal tracking, 141 tests
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260403_1605_add_dismissed_products.py
  backend/app/models/conversation_context.py
  backend/app/services/context/ecommerce_extractor.py
  backend/app/services/conversation/handlers/__init__.py
  backend/app/services/conversation/handlers/recommendation_handler.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/conversation_context.py
  backend/app/services/intent/classification_schema.py
  backend/app/services/recommendation/__init__.py
  backend/app/services/recommendation/contextual_recommendation_service.py
  backend/app/services/recommendation/explanation_generator.py
  backend/app/services/recommendation/schemas.py
  backend/tests/integration/test_recommendation_flow.py
  backend/tests/unit/test_contextual_recommendation_service.py
  backend/tests/unit/test_dismissal_extraction.py
  backend/tests/unit/test_recommendation_explanation.py
  backend/tests/unit/test_recommendation_handler.py
  frontend/tests/e2e/story-11-6-contextual-recommendations.spec.ts
Due: test-colocation-python

fix(story-11-6): code review fixes — ConfigDict, context loading, dismissed_product_ids, category_match
  backend/app/services/context/ecommerce_extractor.py
  backend/app/services/conversation/handlers/recommendation_handler.py
  backend/app/services/intent/prompt_templates.py
  backend/app/services/recommendation/contextual_recommendation_service.py
  backend/app/services/recommendation/schemas.py
  backend/tests/unit/test_contextual_recommendation_service.py
Due: test-colocation-python

feat(story-11-6): TEA test automation — edge cases, dismissal phrases, handler errors, E2E tests
  backend/tests/integration/test_recommendation_handler_errors.py
  backend/tests/unit/test_contextual_recommendation_edge_cases.py
  backend/tests/unit/test_recommendation_dismissal_phrases.py
  frontend/tests/e2e/story-11-6-contextual-recommendations.spec.ts
Due: none

feat(story-11-5): general mode handoff tests — 5 integration tests, keyword detection, regression prevention
  backend/tests/integration/test_general_mode_handoff.py
Due: none

fix(story-11-6): fix E2E test failures — widget bundle code-splitting, bubble click, fallback handler
  frontend/src/widget/Widget.tsx
  frontend/tests/e2e/story-11-6-contextual-recommendations.spec.ts
  frontend/vite.widget.config.ts
Due: none

feat(story-11-7): natural error handling — NaturalErrorRecoveryService, handler standardization, 53 tests
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/core/errors.py
  backend/app/services/conversation/error_recovery_service.py
  backend/app/services/conversation/handlers/cart_handler.py
  backend/app/services/conversation/handlers/checkout_handler.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/handlers/recommendation_handler.py
  backend/app/services/conversation/handlers/search_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/error_recovery_templates.py
  backend/app/services/personality/response_formatter.py
  backend/tests/integration/test_error_recovery_flow.py
  backend/tests/unit/test_error_recovery_service.py
  backend/tests/unit/test_error_templates.py
Due: test-colocation-python

fix(story-11-7): add test for recover() kwarg mismatch in llm_handler error path
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/conversation/handlers/checkout_handler.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/tests/unit/test_error_recovery_service.py
Due: test-colocation-python

test(story-11-7): add 12 E2E tests for natural error handling — all 7 ACs covered
  frontend/tests/e2e/story-11-7-natural-error-handling.spec.ts
Due: none

refactor(story-11-7): test review fixes — split E2E files, BDD comments, factory pattern, real service in integration tests
  backend/tests/integration/test_error_recovery_flow.py
  backend/tests/unit/test_error_recovery_service.py
  backend/tests/unit/test_error_templates.py
  frontend/tests/e2e/story-11-7-error-context-variation.spec.ts
  frontend/tests/e2e/story-11-7-error-personality.spec.ts
  frontend/tests/e2e/story-11-7-error-search-checkout.spec.ts
  frontend/tests/e2e/story-11-7-natural-error-handling.spec.ts
Due: none

refactor(story-11-7): review fixes — dict dispatch, typed params, narrow exceptions, update implementation artifacts
  .beads/issues.jsonl
  backend/app/services/conversation/error_recovery_service.py
  backend/tests/unit/test_error_recovery_service.py
Due: test-colocation-python

feat(story-11-8): proactive information gathering — detect missing fields, ask follow-up questions before routing
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/multi_turn/schemas.py
  backend/app/services/multi_turn/state_machine.py
  backend/app/services/personality/conversation_templates.py
  backend/app/services/personality/transition_phrases.py
  backend/app/services/proactive_gathering/__init__.py
  backend/app/services/proactive_gathering/intent_requirements.py
  backend/app/services/proactive_gathering/proactive_gathering_service.py
  backend/app/services/proactive_gathering/schemas.py
  backend/app/services/proactive_gathering/state_persistence.py
  backend/tests/integration/test_proactive_gathering_flow.py
  backend/tests/unit/test_intent_requirements.py
  backend/tests/unit/test_proactive_gathering_service.py
  backend/tests/unit/test_proactive_gathering_state_machine.py
  backend/tests/unit/test_transition_phrases.py
Due: test-colocation-python

fix(story-11-8): code review — 2 CRITICAL + 1 HIGH + 5 MEDIUM issues fixed
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/conversation_templates.py
  backend/app/services/proactive_gathering/proactive_gathering_service.py
  backend/app/services/proactive_gathering/schemas.py
  backend/tests/integration/test_proactive_gathering_flow.py
Due: test-colocation-python

fix(story-11-8): follow-up tickets — size regex false positive, type annotation, dead code deletion
  backend/app/services/proactive_gathering/proactive_gathering_service.py
  backend/app/services/proactive_gathering/state_persistence.py
  backend/tests/integration/test_proactive_gathering_flow.py
  backend/tests/unit/test_proactive_gathering_service.py
Due: test-colocation-python

fix(story-11-8): test quality improvements — HTTP error scenarios, docstrings, parametrization
  backend/tests/integration/test_proactive_gathering_flow.py
Due: none

test(story-11-8): add regression guards for size regex and cross-field conflict
  backend/tests/unit/test_proactive_gathering_service.py
Due: none

feat(story-11-9): conversation summarization — SUMMARIZE intent, SummarizeHandler, customer-facing summary, personality templates, defense-in-depth checks
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/core/errors.py
  backend/app/services/context_summarizer.py
  backend/app/services/conversation/handlers/__init__.py
  backend/app/services/conversation/handlers/summarize_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/intent/classification_schema.py
  backend/app/services/personality/conversation_templates.py
  backend/app/services/personality/transition_phrases.py
  backend/app/services/proactive_gathering/intent_requirements.py
  backend/tests/integration/test_summarize_flow.py
  backend/tests/unit/test_intent_requirements.py
  backend/tests/unit/test_summarize_handler.py
  backend/tests/unit/test_summarize_intent_classification.py
Due: test-colocation-python

test(story-11-9): TEA test review fixes — network waits, factories, AC5 coverage, edge cases
  backend/tests/integration/test_summarize_process_message_routing.py
  backend/tests/unit/test_summarization_templates.py
  backend/tests/unit/test_summarize_defense_in_depth.py
  backend/tests/unit/test_summarize_for_customer.py
  frontend/tests/e2e/story-11-9-conversation-summarization.spec.ts
Due: none

fix(story-11-9): implementation review — LLM service fix, improved fallbacks, token budgeting, race condition test
  backend/app/services/context_summarizer.py
  backend/app/services/conversation/handlers/summarize_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/tests/integration/test_summarize_flow.py
  backend/tests/unit/test_summarize_for_customer.py
  backend/tests/unit/test_summarize_handler.py
  frontend/tests/e2e/story-11-9-conversation-summarization.spec.ts
Due: test-colocation-python

feat(story-11-10): sentiment-adaptive responses — detect emotional tone, wrap responses with empathy/conciseness framing, auto-escalate on persistent negative sentiment
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/core/errors.py
  backend/app/services/conversation/sentiment_adapter.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/conversation_templates.py
  backend/app/services/personality/transition_phrases.py
  backend/tests/integration/test_sentiment_flow.py
  backend/tests/unit/test_sentiment_adapter_service.py
  backend/tests/unit/test_sentiment_templates.py
Due: test-colocation-python

fix(story-11-10): code review fixes — general mode sentiment, transition suppression, mode templates, error code, positive guard
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/conversation/sentiment_adapter.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/tests/unit/test_sentiment_adapter_service.py
Due: test-colocation-python

test(story-11-10): E2E tests for sentiment-adaptive responses — 6 Playwright tests covering all ACs
  _bmad-output/automation-summary-story-11-10.md
  _bmad-output/implementation-artifacts/11-10-sentiment-adaptive-responses.md
  frontend/tests/e2e/story-11-10-sentiment-adaptive-responses.spec.ts
Due: none

test(story-11-10): TEA test review fixes — BDD structure, data-testid selectors, parameterized factories, shared helpers
  _bmad-output/implementation-artifacts/11-10-sentiment-adaptive-responses.md
  frontend/src/widget/components/MessageList.tsx
  frontend/tests/e2e/story-11-10-sentiment-adaptive-responses.spec.ts
  frontend/tests/helpers/widget-test-helpers.ts
Due: none

fix(story-11-10): implementation review — fix duplicate key, soften negation flip, clean emoji sets, add DETAILED integration test, close BEADS issue
  .beads/issues.jsonl
  backend/app/services/analytics/sentiment_analyzer.py
  backend/tests/integration/test_sentiment_flow.py
Due: test-colocation-python

feat(story-11-11): natural clarification questions with template rotation, context-aware follow-ups, and combined questions
  backend/app/core/errors.py
  backend/app/services/clarification/question_generator.py
  backend/app/services/conversation/handlers/clarification_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/clarification_question_templates.py
  backend/app/services/personality/transition_phrases.py
  backend/tests/integration/test_natural_clarification_flow.py
  backend/tests/unit/test_natural_question_generator.py
  backend/tests/unit/test_natural_question_templates.py
  frontend/tests/e2e/story-11-11-natural-clarification-questions.spec.ts
Due: test-colocation-python
