Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Shopping Assistant Bot - Pattern Tooling Enforcement

repos:
  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key

  # Python: Formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']

  # Python: Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: ^backend/

  # Python: Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-r', 'backend/app', '-ll']
        files: ^backend/

  # Custom hooks - Test colocation validation
  - repo: local
    hooks:
      - id: test-colocation-python
        name: Validate Python test co-location
        entry: python scripts/validate_test_colocation.py
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

  # Custom hooks - Type generation (only when schemas change)
  - repo: local
    hooks:
      - id: openapi-type-generator
        name: Generate TypeScript types from OpenAPI
        entry: python scripts/generate_types.py
        language: system
        pass_filenames: false
        files: ^backend/app/schemas/.*\.py$

# Frontend hooks (enable when frontend scripts are created)
# Uncomment when ready:
#
#   - repo: local
#     hooks:
#       - id: test-colocation-typescript
#         name: Validate TypeScript test co-location
#         entry: node scripts/hooks/test-colocation.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false
#
#   - repo: local
#     hooks:
#       - id: api-version-prefix
#         name: Validate API version prefix
#         entry: node scripts/hooks/api-version.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false

# Phase 2 hooks (add after base setup)
# Uncomment when ready:
#
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#       - id: mypy
#         additional_dependencies: [pydantic>=2.0, types-requests]
#         args: [--ignore-missing-imports]
#         files: ^backend/
#
#   - repo: https://github.com/pre-commit/mirrors-eslint
#     rev: v8.56.0
#     hooks:
#       - id: eslint
#         types: [typescript]
#         files: ^frontend/
#         additional_dependencies:
#           - eslint@^8.56.0
#           - '@typescript-eslint/eslint-plugin'
#           - '@typescript-eslint/parser'

feat: dynamic LLM pricing from OpenRouter API
  backend/.env.example
  backend/app/core/config.py
  backend/app/services/llm/anthropic_service.py
  backend/app/services/llm/base_llm_service.py
  backend/app/services/llm/gemini_service.py
  backend/app/services/llm/glm_service.py
  backend/app/services/llm/llm_factory.py
  backend/app/services/llm/model_discovery_service.py
  backend/app/services/llm/openai_service.py
  backend/app/services/llm/provider_switch_service.py
  backend/app/services/llm/test_llm_factory.py
  frontend/src/components/onboarding/LLMStatus.tsx
Due: test-colocation-python

fix: LLM service integration for preview and widget
  backend/app/api/helpers.py
  backend/app/services/preview/preview_service.py
  backend/app/services/widget/widget_message_service.py
Due: test-colocation-python

fix: greeting and off-topic handling improvements
  backend/app/services/faq.py
  backend/app/services/personality/personality_prompts.py
  backend/app/services/preview/preview_service.py
  frontend/src/pages/BotConfig.tsx
Due: test-colocation-python

fix: load .env file and handle OpenRouter model names in Gemini
  backend/app/core/config.py
  backend/app/services/llm/gemini_service.py
Due: test-colocation-python

feat: add API key update UI in LLM settings
  backend/app/services/llm/gemini_service.py
  frontend/src/components/settings/LLMSettings.tsx
  frontend/src/stores/llmStore.ts
Due: test-colocation-python

feat: allow updating API key for existing LLM provider
  backend/app/services/llm/provider_switch_service.py
  frontend/src/components/providers/ProviderCard.tsx
  frontend/src/components/providers/ProviderConfigModal.tsx
Due: test-colocation-python

fix: allow selecting current provider for configuration updates
  frontend/src/stores/llmProviderStore.ts
Due: none

fix: add CSRF token to LLM provider API requests
  frontend/src/services/llmProvider.ts
Due: none

fix: allow optional API key for provider updates
  backend/app/schemas/llm.py
Due: test-colocation-python, openapi-type-generator

fix: Gemini API URL handling with colon in model path
  backend/app/services/llm/gemini_service.py
Due: test-colocation-python

fix: improve error handling in LLM provider API
  frontend/src/services/llmProvider.ts
Due: none

feat: add gemini-2.5-flash-lite to fallback models
  backend/app/services/llm/model_discovery_service.py
Due: test-colocation-python

fix: map LLM roles to Gemini-compatible roles
  backend/app/services/llm/gemini_service.py
Due: test-colocation-python

fix: use systemInstruction for Gemini system prompts
  backend/app/services/llm/gemini_service.py
Due: test-colocation-python

fix: complete Shopify integration with Admin API
  .beads/issues.jsonl
  backend/alembic/versions/024_shopify_nullable_storefront_token.py
  backend/app/api/integrations.py
  backend/app/core/http_client.py
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/models/shopify_integration.py
  backend/app/services/shopify/product_service.py
  backend/app/services/shopify/storefront_client.py
  backend/app/services/shopify_admin.py
  backend/app/services/shopify_base.py
  backend/app/services/shopify_oauth.py
  backend/app/services/shopify_storefront.py
  docs/stories/story-5-9-version-visibility.md
  frontend/src/pages/Settings.tsx
  frontend/src/stores/botConfigStore.ts
  frontend/src/stores/integrationsStore.ts
Due: test-colocation-python

feat: order tracking & cart system for preview chat
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/5-9-cdn-setup-documentation.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/preview.py
  backend/app/api/webhooks/facebook.py
  backend/app/api/webhooks/shopify.py
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/services/ecommerce/shopify_provider.py
  backend/app/services/facebook.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/personality/bot_response_service.py
  backend/app/services/personality/personality_prompts.py
  backend/app/services/preview/preview_service.py
  backend/app/services/product_context_service.py
  backend/app/services/product_pin_service.py
  backend/app/services/shopify/order_processor.py
  backend/app/services/shopify/product_search_service.py
  backend/app/services/shopify/product_service.py
  backend/app/services/shopify_admin.py
  backend/app/services/widget/widget_message_service.py
  backend/seed_blank_account.py
  frontend/package-lock.json
  frontend/src/components/preview/MessageBubble.tsx
  frontend/src/components/preview/MessageList.tsx
  frontend/src/components/preview/MiniCart.tsx
  frontend/src/components/preview/PreviewChat.tsx
  frontend/src/components/preview/ProductCard.tsx
  frontend/src/components/preview/ProductDetailModal.tsx
  frontend/src/components/preview/ProductGrid.tsx
  frontend/src/pages/BotPreview.tsx
  frontend/src/services/orderApi.ts
  frontend/src/services/productApi.ts
  frontend/src/stores/cartStore.ts
  frontend/src/stores/integrationsStore.ts
Due: test-colocation-python

feat: improve widget settings and add Shopify webhook docs
  frontend/src/components/widget/EmbedCodePreview.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/WidgetSettings.tsx
  frontend/src/stores/widgetSettingsStore.ts
  frontend/src/utils/test_widgetSettingsValidation.security.test.ts
  frontend/src/utils/test_widgetSettingsValidation.test.ts
  frontend/src/utils/widgetSettingsValidation.ts
Due: none

fix(story-5-10): intent classification and product display improvements
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/llm.py
  backend/app/api/widget.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/schemas/preview.py
  backend/app/services/conversation/handlers/search_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/intent/prompt_templates.py
  backend/app/services/preview/preview_service.py
  backend/app/services/product_context_service.py
  backend/app/services/product_pin_service.py
  backend/app/services/shopify/product_search_service.py
  backend/app/services/shopify_oauth.py
  backend/app/services/webhook_verification.py
  frontend/src/components/costs/BudgetWarningBanner.tsx
  frontend/src/components/preview/MessageBubble.tsx
  frontend/src/services/preview.ts
  frontend/src/stores/integrationsStore.ts
  frontend/src/stores/previewStore.ts
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatBubble.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/loader.ts
  frontend/vite.widget.config.ts
Due: test-colocation-python, openapi-type-generator

fix(widget): Shopify embedding fixes for widget integration
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/api/widget.py
  backend/app/main.py
  backend/app/schemas/widget.py
  backend/app/schemas/widget_search.py
  backend/app/services/conversation/handlers/search_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/widget/widget_message_service.py
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/schemas/widget.ts
Due: test-colocation-python, openapi-type-generator

fix(widget): display personality-based greeting when widget opens
  backend/app/api/merchant.py
  backend/app/api/test_widget.py
  backend/app/api/widget.py
  backend/app/services/personality/greeting_service.py
  frontend/src/components/business-info/GreetingConfig.tsx
  frontend/src/pages/PersonalityConfig.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/schemas/widget.ts
Due: test-colocation-python

fix(widget): product detail modal buttons not responding due to FocusTrap
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/static/widget/ChatWindow-D9JhAfek.js
  backend/static/widget/ChatWindow-XIPcF6s7.js
  backend/static/widget/loader-BXxjdf-7.js
  backend/static/widget/loader-CbVjW76K.js
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetClient-CFodt_zT.js
  backend/static/widget/widgetClient-DjEWipWp.js
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/components/ProductDetailModal.tsx
Due: none

fix: LLM cost tracking display and pricing issues
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/main.py
  backend/app/services/cost_tracking/pricing.py
  backend/app/services/llm/model_discovery_service.py
  frontend/src/components/costs/CostComparisonCard.tsx
  frontend/src/components/costs/CostSummaryCards.tsx
  frontend/src/pages/Costs.tsx
Due: test-colocation-python

fix(intent): add GENERAL intent for business service questions
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/services/intent/classification_schema.py
  backend/app/services/intent/prompt_templates.py
  backend/app/services/personality/personality_prompts.py
Due: test-colocation-python

feat: add source badge and timestamp to conversation cards
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/services/conversation/conversation_service.py
  frontend/src/components/conversations/ConversationCard.test.tsx
  frontend/src/components/conversations/ConversationCard.tsx
  frontend/src/types/conversation.ts
Due: test-colocation-python

fix(widget): widget embed code merchant ID and various improvements
  .serena/project.yml
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/.env
  backend/.env.example
  backend/alembic/env.py
  backend/alembic/versions/025_add_is_test_to_orders.py
  backend/app/api/widget.py
  backend/app/middleware/auth.py
  backend/app/schemas/cart.py
  backend/app/schemas/widget_search.py
  backend/app/services/cart/shopify_cart_sync.py
  backend/app/services/conversation/handlers/cart_handler.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/llm/provider_switch_service.py
  backend/app/services/shopify/shopify_cart_client.py
  backend/static/widget/ChatWindow-DP3a1k6J.js
  backend/static/widget/ChatWindow-XIPcF6s7.js
  backend/static/widget/loader-BXxjdf-7.js
  backend/static/widget/loader-Dyu2sL0I.js
  backend/static/widget/stats.html
  backend/static/widget/widget-bundle-async.html
  backend/static/widget/widget-bundle-data-attr.html
  backend/static/widget/widget-bundle-no-config.html
  backend/static/widget/widget-bundle-test.html
  backend/static/widget/widget-test.html
  backend/static/widget/widget-theme-test.html
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetClient-DjEWipWp.js
  backend/static/widget/widgetClient-G3RWKtC5.js
  frontend/src/pages/WidgetTestPage.tsx
  frontend/src/stores/integrationsStore.ts
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/CartView.tsx
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/ProductCard.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/types/widget.ts
Due: test-colocation-python, openapi-type-generator

fix(widget): price filter pattern now matches 'below' in addition to 'under'
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

fix(widget): checkout now builds URL client-side like preview
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/api/widget.py
  backend/app/schemas/widget.py
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/schemas/widget.ts
  frontend/src/widget/types/widget.ts
Due: test-colocation-python, openapi-type-generator

fix(conversations): show correct platform badge and use business timezone for timestamps
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/schemas/conversation.py
  frontend/src/components/conversations/ConversationCard.tsx
Due: test-colocation-python, openapi-type-generator

fix(models): add missing product_pin_analytics relationship to Merchant
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/models/__init__.py
  backend/app/models/merchant.py
Due: test-colocation-python

fix(conversations): add missing platform field to ConversationHistoryData
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/api/conversations.py
Due: test-colocation-python

fix: prevent bot re-introduction, duplicate products, and irrelevant product cards
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/product_mention_detector.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/personality_prompts.py
  backend/app/services/personality/test_personality_prompts.py
Due: test-colocation-python

fix(widget): prevent duplicate merchant messages in WebSocket delivery
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/services/widget/connection_manager.py
Due: test-colocation-python

feat: implement handoff resolution flow with auto-close, reopen, and enhanced detection
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/alembic/versions/028_is_offline_handoff.py
  backend/alembic/versions/029_handoff_resolution_fields.py
  backend/app/api/conversations.py
  backend/app/api/handoff_alerts.py
  backend/app/background_jobs/data_retention.py
  backend/app/models/conversation.py
  backend/app/models/handoff_alert.py
  backend/app/services/conversation/handlers/handoff_handler.py
  backend/app/services/conversation/merchant_reply_service.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/handoff/business_hours_handoff_service.py
  backend/app/services/handoff/resolution_service.py
  backend/app/services/intent/prompt_templates.py
  backend/app/tasks/handoff_resolution_task.py
  backend/scripts/test_handoff_gap.py
  frontend/src/pages/HandoffQueue.tsx
  frontend/src/services/conversations.ts
  frontend/src/services/handoffAlerts.ts
Due: test-colocation-python

fix: business hours key naming mismatch causing false 'after hours' flags
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/alembic/versions/030_fix_business_hours_keys.py
  backend/app/api/business_hours.py
Due: test-colocation-python

fix: handoff queue wait time always showing 0s and add manager keyword patterns
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  backend/app/api/handoff_alerts.py
  backend/app/api/test_handoff_alerts.py
  backend/app/services/conversation/unified_conversation_service.py
Due: test-colocation-python

feat(story-4-13): Shopify payment/cost data enhancement
  .serena/project.yml
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/alembic/versions/031_add_payment_cost_customer_fields.py
  backend/alembic/versions/032_add_disputes_table.py
  backend/app/api/analytics.py
  backend/app/api/webhooks/shopify.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/customer_profile.py
  backend/app/models/dispute.py
  backend/app/models/merchant.py
  backend/app/models/order.py
  backend/app/schemas/order.py
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/customer_lookup_service.py
  backend/app/services/order_tracking/order_tracking_service.py
  backend/app/services/shopify/cogs_cache.py
  backend/app/services/shopify/order_processor.py
  backend/app/services/shopify_admin.py
  backend/tests/api/test_story_4_13_error_codes.py
  backend/tests/api/test_story_4_13_geographic_analytics.py
  backend/tests/api/test_story_4_13_payment_data.py
  backend/tests/api/test_story_4_13_webhooks.py
  backend/tests/integration/test_story_4_13_payment_flow.py
  backend/tests/performance/test_story_4_13_performance.py
  frontend/src/pages/Settings.tsx
  frontend/tests/e2e/story-4-13-payment-cost-data.spec.ts
Due: test-colocation-python, openapi-type-generator
