Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

.pre-commit-config.yaml:

# Pre-commit Hooks Configuration
# Shopping Assistant Bot - Pattern Tooling Enforcement

repos:
  # Generic hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: debug-statements
      - id: detect-private-key

  # Python: Formatting
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        language_version: python3.11

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile', 'black']

  # Python: Linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        files: ^backend/

  # Python: Security
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ['-r', 'backend/app', '-ll']
        files: ^backend/

  # Custom hooks - Test colocation validation
  - repo: local
    hooks:
      - id: test-colocation-python
        name: Validate Python test co-location
        entry: python scripts/validate_test_colocation.py
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

  # Custom hooks - Type generation (only when schemas change)
  - repo: local
    hooks:
      - id: openapi-type-generator
        name: Generate TypeScript types from OpenAPI
        entry: python scripts/generate_types.py
        language: system
        pass_filenames: false
        files: ^backend/app/schemas/.*\.py$

# Frontend hooks (enable when frontend scripts are created)
# Uncomment when ready:
#
#   - repo: local
#     hooks:
#       - id: test-colocation-typescript
#         name: Validate TypeScript test co-location
#         entry: node scripts/hooks/test-colocation.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false
#
#   - repo: local
#     hooks:
#       - id: api-version-prefix
#         name: Validate API version prefix
#         entry: node scripts/hooks/api-version.js
#         language: system
#         types: [typescript]
#         files: ^frontend/src/
#         pass_filenames: false

# Phase 2 hooks (add after base setup)
# Uncomment when ready:
#
#   - repo: https://github.com/pre-commit/mirrors-mypy
#     rev: v1.8.0
#     hooks:
#       - id: mypy
#         additional_dependencies: [pydantic>=2.0, types-requests]
#         args: [--ignore-missing-imports]
#         files: ^backend/
#
#   - repo: https://github.com/pre-commit/mirrors-eslint
#     rev: v8.56.0
#     hooks:
#       - id: eslint
#         types: [typescript]
#         files: ^frontend/
#         additional_dependencies:
#           - eslint@^8.56.0
#           - '@typescript-eslint/eslint-plugin'
#           - '@typescript-eslint/parser'

feat: Story 1-9 CSRF Token Generation - QA validation complete
  .agent/workflows/bmad-agent-bmm-qa.md
  .gemini/commands/bmad-agent-bmm-qa.toml
  .opencode/command/bmad-agent-bmm-qa.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad/_config/agents/bmm-qa.customize.yaml
  _bmad/bmm/agents/qa.md
  backend/app/api/conftest.py
  backend/app/api/test_csrf.py
  backend/app/middleware/test_csrf.py
  frontend/src/stores/test_csrfStore.test.ts
  frontend/tests/e2e/csrf.spec.ts
  frontend/tests/integration/csrf.integration.spec.ts
Due: test-colocation-python

feat: Story 1.11 - Business Info & FAQ Configuration (Backend)
  backend/alembic/versions/012_add_business_info_fields.py
  backend/alembic/versions/013_create_faqs_table.py
  backend/app/api/business_info.py
  backend/app/api/faqs.py
  backend/app/api/test_business_info.py
  backend/app/api/test_faqs.py
  backend/app/conftest.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/faq.py
  backend/app/models/merchant.py
  backend/app/models/test_faq.py
  backend/app/models/test_merchant.py
  backend/app/schemas/__init__.py
  backend/app/schemas/business_info.py
  backend/app/schemas/faq.py
  backend/app/schemas/test_business_info.py
  backend/app/schemas/test_faq.py
  backend/app/services/faq.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/test_faq.py
Due: test-colocation-python, openapi-type-generator

feat: Story 1.11 - Business Info & FAQ Configuration (Frontend + Code Review Fixes)
  backend/app/api/business_info.py
  backend/app/api/faqs.py
  backend/tests/integration/test_story_1_11_integration.py
  frontend/src/components/business-info/BusinessInfoForm.tsx
  frontend/src/components/business-info/FaqForm.tsx
  frontend/src/components/business-info/FaqItemCard.tsx
  frontend/src/components/business-info/FaqList.tsx
  frontend/src/components/business-info/index.tsx
  frontend/src/components/business-info/test_BusinessInfoForm.test.tsx
  frontend/src/components/business-info/test_FaqForm.test.tsx
  frontend/src/components/business-info/test_FaqList.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/BusinessInfoFaqConfig.tsx
  frontend/src/services/businessInfo.ts
  frontend/src/services/test_businessInfo.spec.ts
  frontend/src/stores/businessInfoStore.ts
  frontend/src/stores/test_businessInfoStore.test.ts
  frontend/tests/api/business-info-csrf.spec.ts
  frontend/tests/api/business-info-partial.spec.ts
  frontend/tests/api/faq-concurrent.spec.ts
  frontend/tests/api/faq-rate-limit.spec.ts
  frontend/tests/api/faq-reorder.spec.ts
  frontend/tests/e2e/business-info-bot-conversation.spec.ts
  frontend/tests/e2e/business-info-cross-tab.spec.ts
  frontend/tests/e2e/business-info-csrf.spec.ts
  frontend/tests/e2e/business-info-faq.spec.ts
  frontend/tests/e2e/faq-bot-conversation.spec.ts
  frontend/tests/integration/business-info.integration.spec.ts
Due: test-colocation-python

refactor: Story 1.11 MEDIUM fixes - extract shared helpers, improve error context
  backend/app/api/business_info.py
  backend/app/api/faqs.py
  backend/app/api/helpers.py
Due: test-colocation-python

docs: Story 1-11 - QA Test Automation Complete
  _bmad-output/implementation-artifacts/1-11-business-info-faq-configuration.md
  _bmad-output/implementation-artifacts/tests/test-summary.md
Due: none

feat: Story 1-12 Bot Naming - Implementation with Code Review Fixes
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/014_add_bot_name.py
  backend/app/api/bot_config.py
  backend/app/api/test_bot_config.py
  backend/app/schemas/bot_config.py
  backend/app/schemas/test_bot_config.py
  backend/tests/integration/test_story_1_12_bot_naming.py
  frontend/src/components/bot-config/BotNameInput.tsx
  frontend/src/components/bot-config/test_BotNameInput.test.tsx
  frontend/src/pages/BotConfig.tsx
  frontend/src/services/botConfig.ts
  frontend/src/stores/botConfigStore.ts
Due: test-colocation-python, openapi-type-generator

docs: Story 1-12 - QA Automate Complete
  _bmad-output/implementation-artifacts/1-12-bot-naming.md
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
Due: none

test: Story 1-13 - E2E test file exists and runs
  .beads/issues.jsonl
  frontend/tests/e2e/bot-preview.spec.ts
Due: none

feat: Story 1.14 - Smart Greeting Templates - Implementation with Full Test Coverage
  backend/app/api/bot_config.py
  backend/app/main.py
  backend/app/models/merchant.py
  backend/app/schemas/__init__.py
  backend/app/schemas/greeting.py
  backend/app/services/personality/greeting_service.py
  backend/app/services/personality/test_greeting_service.py
  backend/tests/api/test_greeting_config.py
  backend/tests/services/test_greeting_service.py
  frontend/src/components/business-info/GreetingConfig.tsx
  frontend/src/pages/BotConfig.tsx
  frontend/src/services/botConfig.ts
  frontend/src/stores/botConfigStore.ts
  frontend/tests/api/greeting-config.spec.ts
  frontend/tests/e2e/greeting-configuration.spec.ts
  frontend/tests/integration/greeting-config.integration.spec.ts
Due: test-colocation-python, openapi-type-generator

feat: Sprint Change 2026-02-13 - Make Shopify Optional Integration
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/016_add_store_provider.py
  backend/app/models/merchant.py
  backend/app/services/ecommerce/__init__.py
  backend/app/services/ecommerce/base.py
  backend/app/services/ecommerce/conftest.py
  backend/app/services/ecommerce/mock_provider.py
  backend/app/services/ecommerce/null_provider.py
  backend/app/services/ecommerce/provider_factory.py
  backend/app/services/ecommerce/shopify_provider.py
  backend/docs/api/ecommerce-provider.md
  backend/tests/services/ecommerce/conftest.py
  backend/tests/services/ecommerce/pytest.ini
  backend/tests/services/ecommerce/test_ecommerce_provider.py
  backend/tests/services/ecommerce/test_null_provider.py
  backend/tests/services/ecommerce/test_provider_factory.py
  frontend/src/components/RouteGuards.tsx
  frontend/src/components/test_RouteGuards.test.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/stores/authStore.ts
  frontend/src/types/auth.ts
  frontend/tests/e2e/store-connection-flow.spec.ts
Due: test-colocation-python

feat: Story 1-6 - Interactive Tutorial with Full Test Coverage
  backend/app/api/auth.py
  backend/app/api/tutorial.py
  backend/app/conftest.py
  backend/app/core/__init__.py
  backend/app/core/auth.py
  backend/app/core/tutorial_config.py
  backend/app/middleware/csrf.py
  backend/app/models/test_tutorial.py
  backend/app/models/tutorial.py
  backend/tests/conftest.py
  frontend/src/components/App.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/HelpMenu.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/onboarding/InteractiveTutorial.tsx
  frontend/src/components/onboarding/TutorialPrompt.tsx
  frontend/src/components/onboarding/TutorialStep.tsx
  frontend/src/components/onboarding/test/test_InteractiveKeyboard.test.tsx
  frontend/src/components/onboarding/test/test_InteractiveTutorial.test.tsx
  frontend/src/components/onboarding/test_InteractiveTutorial.test.tsx
  frontend/src/index.css
  frontend/src/pages/BotConfig.tsx
  frontend/src/pages/Login.tsx
  frontend/src/stores/onboardingPhaseStore.ts
  frontend/src/stores/test/test_tutorialStore.test.ts
  frontend/src/stores/test_authStore.test.ts
  frontend/src/stores/test_tutorialStore.test.ts
  frontend/src/stores/tutorialStore.ts
  frontend/tests/e2e/tutorial-flow.spec.ts
  frontend/vitest.config.ts
Due: test-colocation-python

chore: add utility scripts, docs, and minor updates
  README.md
  backend/alembic/versions/017_create_product_pins_table.py
  backend/app/services/shopify_oauth.py
  backend/seed_first_time_user.py
  backend/seed_test_merchant.py
  docs/architecture/ecommerce-abstraction.md
  docs/epic-1-retrospective-v2.md
Due: test-colocation-python

feat: Story 3-9 - Cost Comparison Feature
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/schemas/cost_tracking.py
  backend/app/services/cost_tracking/competitor_pricing.py
  backend/app/services/cost_tracking/cost_tracking_service.py
  backend/tests/api/test_cost_tracking.py
  backend/tests/services/cost_tracking/test_competitor_pricing.py
  frontend/src/components/costs/CostComparisonCard.tsx
  frontend/src/components/costs/test_CostComparisonCard.test.tsx
  frontend/src/pages/Costs.tsx
  frontend/src/types/cost.ts
  frontend/tests/e2e/story-3-9-cost-comparison.spec.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 3-10 - Business Hours Configuration
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/alembic/versions/20260214_0930-d8b872fa2427_add_business_hours_config.py
  backend/app/api/business_hours.py
  backend/app/main.py
  backend/app/models/merchant.py
  backend/app/schemas/business_hours.py
  backend/app/schemas/test_business_hours.py
  backend/app/services/business_hours/__init__.py
  backend/app/services/business_hours/business_hours_service.py
  backend/app/services/messaging/message_processor.py
  backend/tests/api/test_business_hours.py
  backend/tests/services/business_hours/__init__.py
  backend/tests/services/business_hours/test_business_hours_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/business-info/BusinessInfoForm.tsx
  frontend/src/components/settings/BusinessHoursConfig.tsx
  frontend/src/components/settings/DayHoursRow.tsx
  frontend/src/components/settings/SaveIndicator.tsx
  frontend/src/components/settings/test_BusinessHoursConfig.test.tsx
  frontend/src/pages/BusinessInfoFaqConfig.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/stores/businessHoursStore.ts
  frontend/src/stores/test_businessHoursStore.test.ts
  frontend/src/types/businessHours.ts
  frontend/tests/e2e/story-3-10-business-hours.spec.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 4-5 - Human Assistance Detection
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/alembic/versions/019_add_handoff_fields.py
  backend/app/core/errors.py
  backend/app/models/conversation.py
  backend/app/schemas/handoff.py
  backend/app/schemas/test_handoff.py
  backend/app/services/handoff/__init__.py
  backend/app/services/handoff/detector.py
  backend/app/services/handoff/test_detector.py
  backend/app/services/messaging/message_processor.py
  backend/tests/integration/test_handoff_flow.py
  docs/error-code-governance.md
  frontend/tests/api/handoff-detection.spec.ts
  frontend/tests/e2e/story-4-5-handoff-detection-enhanced.spec.ts
  frontend/tests/e2e/story-4-5-handoff-detection.spec.ts
  frontend/tests/fixtures/handoff-factories.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 4-7 - Handoff Queue with Urgency
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/src/pages/HandoffQueue.tsx
  frontend/src/pages/test_HandoffQueue.test.tsx
  frontend/tests/api/story-4-7-handoff-queue.spec.ts
  frontend/tests/e2e/story-4-7-handoff-queue-enhanced.spec.ts
  frontend/tests/e2e/story-4-7-handoff-queue.spec.ts
Due: none

feat: Story 4-8 - Conversation History View
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/api/conversations.py
  backend/app/api/test_conversations.py
  backend/app/conftest.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/conversation.py
  backend/app/schemas/conversation.py
  backend/app/services/conversation/conversation_service.py
  backend/tests/conftest.py
  docs/error-code-governance.md
  frontend/src/components/App.tsx
  frontend/src/components/conversations/ContextSidebar.tsx
  frontend/src/components/conversations/ConversationCard.tsx
  frontend/src/components/conversations/test_ContextSidebar.test.tsx
  frontend/src/pages/ConversationHistory.tsx
  frontend/src/pages/Conversations.tsx
  frontend/src/pages/HandoffQueue.tsx
  frontend/src/pages/test_ConversationHistory.test.tsx
  frontend/src/services/conversations.ts
  frontend/src/types/conversation.ts
  frontend/tests/api/story-4-8-conversation-history.spec.ts
  frontend/tests/e2e/story-4-8-conversation-history.spec.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 4-9 - Open in Messenger Reply / Hybrid Mode
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/api/conversations.py
  backend/app/api/test_conversations.py
  backend/app/schemas/conversation.py
  backend/app/services/messaging/test_hybrid_mode.py
  frontend/src/components/conversations/OpenInMessengerButton.tsx
  frontend/src/components/conversations/StickyActionBar.tsx
  frontend/src/components/conversations/test_OpenInMessengerButton.test.tsx
  frontend/src/pages/ConversationHistory.tsx
  frontend/src/services/conversations.ts
  frontend/src/stores/conversationStore.ts
  frontend/src/types/conversation.ts
  frontend/tests/api/story-4-9-hybrid-mode.spec.ts
  frontend/tests/e2e/story-4-9-open-in-messenger.spec.ts
Due: test-colocation-python, openapi-type-generator

feat: add dynamic LLM model discovery with live pricing
  backend/app/api/llm.py
  backend/app/schemas/llm.py
  backend/app/services/cost_tracking/cost_tracking_service.py
  backend/app/services/cost_tracking/pricing.py
  backend/app/services/llm/model_discovery_service.py
  backend/tests/services/test_model_discovery_service.py
  frontend/src/components/onboarding/CloudConfig.tsx
  frontend/src/components/onboarding/OllamaConfig.tsx
  frontend/src/components/providers/ProviderConfigModal.tsx
  frontend/src/components/settings/LLMSettings.tsx
  frontend/src/services/llmProvider.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 4-11 - Offline Follow-Up Messages
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/.gitignore
  backend/app/background_jobs/data_retention.py
  backend/app/core/errors.py
  backend/app/models/conversation.py
  backend/app/services/handoff/offline_followup_service.py
  backend/app/services/handoff/test_offline_followup_service.py
  backend/app/tasks/__init__.py
  backend/app/tasks/handoff_followup_task.py
  backend/tests/integration/test_offline_followup_flow.py
  frontend/tests/api/story-4-11-offline-followup.spec.ts
  frontend/tests/e2e/story-4-11-offline-followup.spec.ts
Due: test-colocation-python

feat: Story 4-12 - Business Hours Handoff
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/api/conversations.py
  backend/app/api/settings.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/services/handoff/business_hours_handoff_service.py
  backend/app/services/handoff/test_business_hours_handoff_service.py
  backend/tests/integration/test_business_hours_handoff_flow.py
  frontend/tests/api/story-4-12-business-hours-handoff.spec.ts
  frontend/tests/e2e/story-4-12-business-hours-handoff.spec.ts
Due: test-colocation-python

feat: Story 4-1 - Natural Language Order Tracking
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/alembic/versions/021_add_orders_table.py
  backend/app/core/errors.py
  backend/app/models/__init__.py
  backend/app/models/merchant.py
  backend/app/models/order.py
  backend/app/models/test_order.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/order_tracking/__init__.py
  backend/app/services/order_tracking/mock_orders.py
  backend/app/services/order_tracking/order_tracking_service.py
  backend/app/services/order_tracking/test_order_tracking_service.py
  backend/tests/fixtures/factory.py
  backend/tests/integration/test_order_tracking_flow.py
  frontend/tests/e2e/story-4-1-order-tracking.spec.ts
Due: test-colocation-python

feat(story-4-2): Shopify webhook integration - code review fixes
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/022_add_shopify_order_fields.py
  backend/app/api/webhooks/shopify.py
  backend/app/core/errors.py
  backend/app/models/order.py
  backend/app/services/shopify/__init__.py
  backend/app/services/shopify/order_processor.py
  backend/tests/api/test_story_4_2_shopify_webhook.py
  backend/tests/integration/test_story_4_2_shopify_webhook_storage.py
Due: test-colocation-python

feat(story-4-2): Add DLQ retry worker and unit tests for order processor
  .beads/issues.jsonl
  backend/app/services/shopify/dlq_retry_worker.py
  backend/app/services/shopify/test_order_processor.py
Due: test-colocation-python

feat(story-4-3): Shipping notifications via Shopify webhook
  _bmad-output/implementation-artifacts/sprint-status.yaml
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/api/webhooks/shopify.py
  backend/app/background_jobs/data_retention.py
  backend/app/core/errors.py
  backend/app/core/security.py
  backend/app/services/handoff/notification_service.py
  backend/app/services/shipping_notification/__init__.py
  backend/app/services/shipping_notification/consent_checker.py
  backend/app/services/shipping_notification/rate_limiter.py
  backend/app/services/shipping_notification/service.py
  backend/app/services/shipping_notification/test_service.py
  backend/app/services/shipping_notification/tracking_formatter.py
  backend/app/tasks/queued_notification_task.py
  backend/tests/integration/test_story_4_3_shipping_notification.py
  frontend/tests/api/story-4-3-shipping-notification.spec.ts
  frontend/tests/e2e/story-4-3-shipping-notification.spec.ts
  frontend/tests/fixtures/shipping-notification-factories.ts
Due: test-colocation-python

feat(story-4-4): Polling fallback for missed Shopify webhooks
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/health.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/services/shopify/__init__.py
  backend/app/services/shopify/admin_client.py
  backend/app/services/shopify/order_polling_service.py
  backend/app/services/shopify/order_processor.py
  backend/app/services/shopify/test_admin_client.py
  backend/app/services/shopify/test_order_polling_service.py
  backend/app/tasks/polling_scheduler.py
  backend/app/tasks/test_polling_scheduler.py
  backend/tests/api/test_health_polling.py
  backend/tests/conftest.py
  backend/tests/integration/test_story_4_4_polling_fallback.py
  docs/error-code-governance.md
Due: test-colocation-python

feat(story-5-1): Backend Widget API with unit tests
  .beads/issues.jsonl
  backend/alembic/versions/023_add_widget_config.py
  backend/app/api/test_widget.py
  backend/app/api/widget.py
  backend/app/core/errors.py
  backend/app/core/rate_limiter.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/models/merchant.py
  backend/app/schemas/test_widget.py
  backend/app/schemas/widget.py
  backend/app/services/widget/__init__.py
  backend/app/services/widget/test_widget_message_service.py
  backend/app/services/widget/test_widget_session_service.py
  backend/app/services/widget/widget_message_service.py
  backend/app/services/widget/widget_session_service.py
  backend/tests/integration/test_widget_flow.py
  frontend/tests/api/story-5-1-widget-llm-integration.spec.ts
  frontend/tests/e2e/story-5-1-widget-api.spec.ts
  frontend/tests/support/factories/index.ts
  frontend/tests/support/factories/widgetFactory.ts
Due: test-colocation-python, openapi-type-generator

feat(widget): add build system and loader script (story 5-4)
  _bmad-output/implementation-artifacts/sprint-status.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/public/widget-bundle-async.html
  frontend/public/widget-bundle-data-attr.html
  frontend/public/widget-bundle-no-config.html
  frontend/public/widget-bundle-test.html
  frontend/src/widget/loader.ts
  frontend/src/widget/test_loader.test.ts
  frontend/test-widget.html
  frontend/tests/e2e/story-5-4-build-system-loader-script.spec.ts
  frontend/vite.widget.config.ts
Due: none

test(story-5-5): verify theme customization tests passing (38/38)
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/tests/api/story-5-5-theme-config-api.spec.ts
  frontend/tests/e2e/story-5-5-theme-customization-system.spec.ts
Due: none

feat(story-5-5): theme customization system implementation
  backend/app/schemas/test_widget_theme.py
  backend/app/schemas/widget.py
  frontend/public/widget-theme-test.html
  frontend/src/widget/Widget.tsx
  frontend/src/widget/hooks/useWidgetTheme.ts
  frontend/src/widget/utils/shadowDom.ts
  frontend/src/widget/utils/test_themeMerge.test.ts
  frontend/src/widget/utils/test_themeValidation.test.ts
  frontend/src/widget/utils/themeDefaults.ts
  frontend/src/widget/utils/themeMerge.ts
  frontend/src/widget/utils/themeValidation.ts
  frontend/tests/component/widget/useWidgetTheme.test.ts
  frontend/tests/fixtures/theme-fixture.ts
Due: test-colocation-python, openapi-type-generator

test(story-5-6): add E2E tests for merchant widget settings UI
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/playwright-report/index.html
  frontend/tests/e2e/story-5-6-merchant-widget-settings-ui.spec.ts
Due: none

test(story-5-7): add security and rate limiting E2E tests
  _bmad-output/implementation-artifacts/tests/test-summary.md
  frontend/tests/e2e/story-5-6-merchant-widget-settings-ui.spec.ts
  frontend/tests/e2e/story-5-7-security-rate-limiting.spec.ts
Due: none

feat(story-5-7): add security & rate limiting with P1 gap fixes
  .beads/issues.jsonl
  backend/app/api/widget.py
  backend/app/core/errors.py
  backend/app/core/sanitization.py
  backend/app/core/validators.py
  backend/app/main.py
  backend/tests/api/test_widget_api.py
  backend/tests/core/test_sanitization.py
  backend/tests/core/test_validators.py
  backend/tests/security/test_widget_security.py
  frontend/tests/api/story-5-7-domain-whitelist.spec.ts
  frontend/tests/e2e/story-5-7-security-rate-limiting.spec.ts
Due: test-colocation-python

fix(story-5-8): replace networkidle with domcontentloaded in lighthouse tests
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/tests/test-summary.md
  docs/stories/story-5-8-performance-optimization.md
  frontend/tests/e2e/story-5-8-lighthouse-audit.spec.ts
  frontend/tests/e2e/story-5-8-performance-optimization.spec.ts
Due: none
