Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

test-colocation-python:
  name: Validate Python test co-location
  entry: python scripts/validate_test_colocation.py
  language: system
  pass_filenames: false

openapi-type-generator:
  name: Generate TypeScript types from OpenAPI
  entry: python scripts/generate_types.py
  language: system
  pass_filenames: false

fix: create HandoffAlert records for widget conversations
  backend/app/services/conversation/unified_conversation_service.py
  backend/scripts/create_missing_handoff_alerts.py
  docs/bugfixes/handoff-alert-creation-fix.md
Due: test-colocation-python

feat(handoff): Add LLM-powered resolution messages for widget
  .beads/issues.jsonl
  backend/app/api/conversations.py
  backend/app/api/widget.py
  backend/app/api/widget_ws.py
  backend/app/main.py
  backend/app/middleware/csrf.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/handoff/handoff_resolution_service.py
  backend/app/services/widget/connection_manager.py
  backend/app/services/widget/widget_message_service.py
  backend/app/static/widget/widget.es.js
  backend/app/static/widget/widget.umd.js
  docs/stories/story-6-1-handoff-resolution-messages.md
  frontend/src/components/widget/EmbedCodePreview.tsx
  frontend/src/widget/api/widgetWsClient.ts
  frontend/src/widget/context/WidgetContext.tsx
Due: test-colocation-python

fix(handoff): Mark alerts as read when resolving handoffs
  backend/app/services/handoff/resolution_service.py
Due: test-colocation-python

fix: allow spaces in business name and description inputs
  frontend/src/stores/businessInfoStore.ts
  frontend/src/stores/test_businessInfoStore.test.ts
Due: none

fix(audit): Add missing customer_email column and fix health endpoint path
  backend/alembic/versions/041_add_customer_email_to_audit_log.py
  backend/app/api/test_retention_api.py
  backend/app/main.py
Due: test-colocation-python

feat: add global search bar in header
  backend/app/api/search.py
  backend/app/main.py
  backend/app/schemas/search.py
  docs/stories/3-2-search-and-filter-conversations.md
  frontend/src/components/layout/GlobalSearch.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/services/searchService.ts
Due: test-colocation-python, openapi-type-generator

feat(widget): add message history persistence with 7-day TTL
  README.md
  backend/app/api/widget.py
  backend/app/schemas/widget.py
  backend/app/services/widget/widget_session_service.py
  backend/app/static/widget/ChatWindow-DAmLlCTo.js
  backend/app/static/widget/loader-BUEr9SNy.js
  backend/app/static/widget/stats.html
  backend/app/static/widget/widget.es.js
  backend/app/static/widget/widget.umd.js
  backend/app/static/widget/widgetClient-CGSAA0Tw.js
  backend/app/static/widget/widgetWsClient-DONcmbG9.js
  backend/static/widget/ChatWindow-DAmLlCTo.js
  backend/static/widget/loader-BUEr9SNy.js
  backend/static/widget/stats.html
  backend/static/widget/widget.es.js
  backend/static/widget/widget.umd.js
  backend/static/widget/widgetClient-CGSAA0Tw.js
  backend/static/widget/widgetWsClient-DONcmbG9.js
  frontend/package.json
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/utils/storage.ts
Due: test-colocation-python, openapi-type-generator

feat(widget): add timestamps and skeleton loading animation
  frontend/src/widget/components/MessageList.tsx
  frontend/src/widget/components/TypingIndicator.tsx
  frontend/src/widget/styles/widget.css
Due: none

fix(widget): auto-refresh Shopify cart UI and fix variant ID parsing
  frontend/src/widget/api/shopifyCartClient.ts
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/CartView.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/loader.ts
Due: none

feat(widget): add draggable and minimizable functionality
  _bmad-output/implementation-artifacts/sprint-status.yaml
  docs/stories/story-5-13-draggable-minimizable-widget.md
  frontend/src/widget/Widget.tsx
  frontend/src/widget/api/widgetClient.ts
  frontend/src/widget/components/ChatBubble.tsx
  frontend/src/widget/components/ChatWindow.tsx
  frontend/src/widget/context/WidgetContext.tsx
  frontend/src/widget/styles/widget.css
  frontend/src/widget/types/widget.ts
  frontend/src/widget/utils/storage.ts
Due: none

feat(widget): email-based order lookup with product images
  CONTEXT.md
  backend/app/schemas/widget.py
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/schemas.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/order_tracking/order_tracking_service.py
  backend/app/services/shopify/product_service.py
  backend/app/services/widget/widget_message_service.py
  backend/app/services/widget/widget_session_service.py
  backend/scripts/test_email_lookup_flow.py
  frontend/src/widget/components/MessageList.tsx
Due: test-colocation-python, openapi-type-generator

fix: guarantee message persistence for all response types
  backend/app/services/conversation/unified_conversation_service.py
  docs/stories/story-message-persistence-guarantee.md
Due: test-colocation-python

fix: improve email/order lookup with typo correction and context awareness
  .beads/issues.jsonl
  WIDGET_EMAIL_LOOKUP_FIX_COMPLETE.md
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/intent/classification_schema.py
  backend/app/services/personality/personality_prompts.py
Due: test-colocation-python

feat(epic-6): International carrier support - Code review fixes
  .beads/issues.jsonl
  CODE_REVIEW_FIXES.md
  backend/alembic/versions/20260309_1225-b364ddab7279_add_tracking_company_and_carrier_configs.py
  backend/app/api/carriers.py
  backend/app/api/conversations.py
  backend/app/api/webhooks/shopify.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/models/carrier_config.py
  backend/app/models/merchant.py
  backend/app/models/order.py
  backend/app/schemas/carrier.py
  backend/app/services/carrier/__init__.py
  backend/app/services/carrier/carrier_patterns.py
  backend/app/services/carrier/carrier_service.py
  backend/app/services/carrier/shopify_carriers.py
  backend/app/services/shipping_notification/tracking_formatter.py
  backend/app/services/shopify/order_processor.py
  backend/tests/api/test_carriers_api.py
  backend/tests/unit/test_carrier_patterns.py
  backend/tests/unit/test_carrier_service.py
  docs/epic-6-implementation-summary.md
  docs/epic-6-international-carrier-support.md
  frontend/src/components/App.tsx
  frontend/src/components/shipping/AddCarrierModal.tsx
  frontend/src/components/shipping/CarrierCard.tsx
  frontend/src/components/shipping/SupportedCarriersList.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/ShippingCarriers.tsx
  frontend/src/services/shippingCarriers.ts
  frontend/src/stores/shippingCarriersStore.ts
Due: test-colocation-python, openapi-type-generator

docs(epic-6): Update implementation summary with code review fixes
  docs/epic-6-implementation-summary.md
  frontend/src/pages/ShippingCarriers.tsx
Due: none

fix(story-1.15): Filter draft products from widget, add draft indicator to admin
  backend/app/api/product_pins.py
  backend/app/api/widget.py
  backend/app/schemas/product_pins.py
  backend/app/services/product_pin_service.py
  backend/app/services/shopify/product_service.py
  backend/app/services/shopify_admin.py
  frontend/src/components/business-info/ProductPinList.tsx
  frontend/src/services/botConfig.ts
Due: test-colocation-python, openapi-type-generator

docs(story-1.15): Update with draft product indicator fix
  _bmad-output/implementation-artifacts/1-15-product-highlight-pins.md
Due: none

fix(widget): auto-sync message cache to prevent persistence loss
  _bmad-output/implementation-artifacts/5-10-widget-full-app-integration.md
  frontend/src/widget/context/WidgetContext.tsx
Due: none

fix(widget): sync Shopify cart for custom-domain stores
  frontend/src/widget/api/shopifyCartClient.ts
  frontend/src/widget/context/WidgetContext.tsx
Due: none

feat: Fix carriers API response format and add click-to-prefill feature
  backend/app/api/carriers.py
  backend/app/schemas/carrier.py
  docs/epic-6-implementation-summary.md
  frontend/src/components/shipping/AddCarrierModal.tsx
  frontend/src/components/shipping/SupportedCarriersList.tsx
  frontend/src/pages/ShippingCarriers.tsx
  frontend/src/services/shippingCarriers.ts
Due: test-colocation-python, openapi-type-generator

fix: show all customer orders and surface fulfillment status
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/order_tracking/order_tracking_service.py
Due: test-colocation-python

fix: email normalization and estimated delivery for fulfilled orders
  backend/app/services/conversation/handlers/order_handler.py
  backend/app/services/order_tracking/order_tracking_service.py
  backend/app/services/order_tracking/test_order_tracking_service.py
Due: test-colocation-python

feat: implement live interactive dashboard with Shopify data
  frontend/src/components/dashboard/AICostWidget.tsx
  frontend/src/components/dashboard/ConversationOverviewWidget.tsx
  frontend/src/components/dashboard/GeographicSnapshotWidget.tsx
  frontend/src/components/dashboard/HandoffQueueWidget.tsx
  frontend/src/components/dashboard/RevenueWidget.tsx
  frontend/src/components/dashboard/StatCard.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/analyticsService.ts
Due: none

fix: resolve QueryClient and queryFn errors in dashboard
  _bmad-output/implementation-artifacts/sprint-status.yaml
  frontend/src/main.tsx
  frontend/src/pages/Dashboard.tsx
Due: none

feat: implement top products widget on dashboard
  frontend/src/components/dashboard/TopProductsWidget.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/services/analyticsService.ts
Due: none

feat: implement 10-second polling for dynamic updates in conversation history
  _bmad-output/implementation-artifacts/4-8-conversation-history-view.md
  frontend/src/pages/ConversationHistory.tsx
Due: none

feat(epic-8): add merchant mode field and API (story 8.1)
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260311_1133-506c5de07ae8_add_onboarding_mode_to_merchant.py
  backend/alembic/versions/20260311_1133-d518bbce67eb_add_onboarding_mode_to_merchant.py
  backend/app/api/merchant.py
  backend/app/middleware/auth.py
  backend/app/models/merchant.py
  backend/tests/api/test_merchant_mode.py
  docs/epic-8-general-chatbot-mode.md
Due: test-colocation-python

feat(epic-8): add merchant mode field and API (story 8.1)
  _bmad-output/implementation-artifacts/sprint-status.yaml
Due: none

feat(epic-8): enhance story 8.1 with Bearer token support and test improvements
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/api/auth.py
  backend/app/api/merchant.py
  backend/app/middleware/auth.py
  backend/tests/api/test_merchant_mode.py
  docs/epic-8-general-chatbot-mode.md
Due: test-colocation-python

feat(epic-8): add mode selection to registration (story 8.2)
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260311_1338-13daadbdc823_set_default_mode_for_existing_merchants.py
  backend/app/api/auth.py
  backend/app/schemas/auth.py
  backend/tests/api/test_merchant_mode.py
Due: test-colocation-python, openapi-type-generator

docs(epic-8): update story 8.2 with test coverage and fix documentation
  docs/epic-8-general-chatbot-mode.md
Due: none

test(epic-8): add /me endpoint connection flags test (AC4)
  backend/tests/api/test_merchant_mode.py
Due: none

docs(epic-8): mark story 8.2 complete with QA verification
  .beads/issues.jsonl
  docs/epic-8-general-chatbot-mode.md
Due: none

feat(knowledge-base): implement Story 8-3 - Knowledge Base Models & Storage
  .beads/issues.jsonl
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/alembic/versions/20260311_2001-7bae57f5e9b6_add_knowledge_base_tables.py
  backend/app/api/knowledge_base.py
  backend/app/main.py
  backend/app/middleware/auth.py
  backend/app/models/__init__.py
  backend/app/models/knowledge_base.py
  backend/app/models/merchant.py
  backend/app/schemas/knowledge_base.py
  backend/app/services/knowledge/__init__.py
  backend/app/services/knowledge/chunker.py
  backend/pyproject.toml
  backend/tests/api/test_knowledge_base.py
  backend/uploads/knowledge-base/.gitkeep
  backend/uploads/knowledge-base/1/0b4658c0-eaac-4eb2-83c8-dc086c76e5af_test.txt
  backend/uploads/knowledge-base/1/55c70e6c-e20f-4078-9d44-050b41d633b6_test.txt
  backend/uploads/knowledge-base/1/5e8fb690-65dc-4631-9ebf-8e47e78b5f3b_test.txt
  backend/uploads/knowledge-base/1/89a9873e-5ed7-4a39-97b8-da3eb59ba3c0_test.pdf
  backend/uploads/knowledge-base/1/a7661284-176c-46a5-bccb-0cb233026bbd_test.txt
  backend/uploads/knowledge-base/1/c6f1477c-5808-4ce3-8b34-d37646aa3728_test.pdf
  backend/uploads/knowledge-base/1/d0e41f55-66cb-4fe1-9aa2-b4c692032115_test.txt
  backend/uploads/knowledge-base/1/d9fa01e3-4c44-42a4-a5de-9944ca6b90f2_test.pdf
  backend/uploads/knowledge-base/1/dd9a4d3a-3df5-4a40-9558-aaff6a5e0ce6_test.pdf
  backend/uploads/knowledge-base/1/e11c9192-a61e-47f3-aba5-b6a9f8e4ad87_test.pdf
Due: test-colocation-python, openapi-type-generator

test(knowledge-base): improve test quality for story 8-3
  backend/app/api/knowledge_base.py
  backend/tests/api/test_knowledge_base.py
Due: test-colocation-python

feat(epic-8): implement RAG service for document processing (story 8-4)
  backend/.env.example
  backend/.gitignore
  backend/alembic/versions/20260311_2158-5a26926258cb_add_pgvector_extension_and_fix_.py
  backend/app/api/knowledge_base.py
  backend/app/core/errors.py
  backend/app/middleware/auth.py
  backend/app/middleware/csrf.py
  backend/app/models/knowledge_base.py
  backend/app/services/rag/__init__.py
  backend/app/services/rag/document_processor.py
  backend/app/services/rag/embedding_service.py
  backend/app/services/rag/processing_task.py
  backend/app/services/rag/retrieval_service.py
  backend/pyproject.toml
  backend/tests/integration/test_rag_pipeline.py
  backend/tests/services/rag/__init__.py
  backend/tests/services/rag/test_document_processor.py
  backend/tests/services/rag/test_embedding_service.py
  backend/tests/services/rag/test_processing_task.py
  backend/tests/services/rag/test_retrieval_service.py
  docs/epic-8-general-chatbot-mode.md
Due: test-colocation-python

feat(epic-8): integrate RAG into conversation service (story 8-5)
  _bmad-output/implementation-artifacts/tests/test-summary.md
  backend/app/services/conversation/handlers/general_mode_fallback.py
  backend/app/services/conversation/handlers/llm_handler.py
  backend/app/services/conversation/unified_conversation_service.py
  backend/app/services/personality/response_formatter.py
  backend/app/services/rag/context_builder.py
  backend/pyproject.toml
  backend/tests/integration/test_rag_conversation.py
  backend/tests/services/rag/test_context_builder.py
Due: test-colocation-python

feat(story-8-6): implement onboarding mode selection UI with error handling
  docs/epic-8-general-chatbot-mode.md
  frontend/playwright-api.config.ts
  frontend/src/components/RouteGuards.tsx
  frontend/src/components/onboarding/ModeSelection.tsx
  frontend/src/components/onboarding/PrerequisiteChecklist.tsx
  frontend/src/components/onboarding/__tests__/ModeSelection.test.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/__tests__/Onboarding.mode.test.tsx
  frontend/src/services/onboarding.ts
  frontend/src/stores/onboardingStore.ts
  frontend/src/types/onboarding.ts
  frontend/tests/api/story-8-6-onboarding-mode.spec.ts
  frontend/tests/e2e/story-8-6/accessibility.spec.ts
  frontend/tests/e2e/story-8-6/error-handling.spec.ts
  frontend/tests/e2e/story-8-6/mode-selection.spec.ts
  frontend/tests/e2e/story-8-6/pageobjects/onboarding-mode.po.ts
  frontend/tests/e2e/story-8-6/visual-design.spec.ts
Due: none

Path conditions:
  test-colocation-python: any of: ^backend/app/ and \.py$
  openapi-type-generator: any of: ^backend/app/schemas/.*\.py$
