Repository hazlamahedich/shop: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-colocation-python, openapi-type-generator

test-colocation-python:
  name: Validate Python test co-location
  entry: python scripts/validate_test_colocation.py
  language: system
  pass_filenames: false

openapi-type-generator:
  name: Generate TypeScript types from OpenAPI
  entry: python scripts/generate_types.py
  language: system
  pass_filenames: false

feat: Story 1.3 - Facebook Page Connection implementation
  backend/.env.example
  backend/alembic/versions/002_facebook_integrations_and_conversations.py
  backend/app/api/integrations.py
  backend/app/api/webhooks/__init__.py
  backend/app/api/webhooks/facebook.py
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/core/security.py
  backend/app/core/test_security.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/conversation.py
  backend/app/models/facebook_integration.py
  backend/app/models/message.py
  backend/app/models/test_conversation.py
  backend/app/models/test_facebook_integration.py
  backend/app/models/test_message.py
  backend/app/schemas/integrations.py
  backend/app/services/facebook.py
  backend/tests/conftest.py
  backend/tests/contract/test_facebook_api.py
  backend/tests/integration/test_facebook_api.py
  docs/error-code-governance.md
  frontend/src/components/App.tsx
  frontend/src/components/onboarding/FacebookCallback.tsx
  frontend/src/components/onboarding/FacebookConnection.tsx
  frontend/src/components/onboarding/test_FacebookConnection.test.tsx
  frontend/src/components/ui/Avatar.tsx
  frontend/src/stores/integrationsStore.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 1.1 - Prerequisite Checklist implementation
  .gitignore
  backend/.python-version
  backend/alembic/env.py
  backend/app/api/onboarding.py
  backend/app/models/onboarding.py
  backend/app/schemas/__init__.py
  backend/app/schemas/onboarding.py
  backend/pyproject.toml
  backend/tests/api/test_onboarding.py
  backend/tests/integration/test_onboarding_api.py
  backend/tests/test_onboarding.py
  frontend/package.json
  frontend/src/components/App.test.tsx
  frontend/src/components/onboarding/PrerequisiteChecklist.tsx
  frontend/src/components/onboarding/test/test_PrerequisiteChecklist.coverage.test.tsx
  frontend/src/components/onboarding/test_PrerequisiteChecklist.test.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Checkbox.tsx
  frontend/src/components/ui/Collapsible.tsx
  frontend/src/components/ui/Progress.tsx
  frontend/src/stores/onboardingStore.ts
  frontend/src/stores/test_onboardingStore.test.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
Due: test-colocation-python, openapi-type-generator

feat: Sprint 0 pattern tooling - Complete foundation setup
  backend/alembic/versions/001_create_merchants_and_deployment_logs.py
  backend/app/api/deployment.py
  backend/app/api/deployment.py.backup
  backend/app/models/deployment_log.py
  backend/app/models/merchant.py
  backend/app/schemas/deployment.py
  backend/app/services/deployment.py
  backend/app/services/test_facebook.py
  backend/scripts/deploy/flyio.sh
  backend/scripts/deploy/railway.sh
  backend/scripts/deploy/render.sh
  backend/scripts/deploy/test_deployment_scripts.py
  backend/scripts/run-tests.sh
  backend/tests/api/test_deployment.py
  backend/tests/contract/test_deployment_contract.py
  backend/tests/integration/test_deployment_api.py
  backend/tests/test_deployment_log.py
  backend/tests/test_merchant.py
  docs/project-context.md
  frontend/src/components/onboarding/DeploymentWizard.tsx
  frontend/src/components/onboarding/test/test_DeploymentWizard.coverage.test.tsx
  frontend/src/components/onboarding/test_DeploymentWizard.test.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/ScrollArea.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/stores/deploymentStore.ts
  frontend/src/stores/test_deploymentStore.test.ts
  frontend/src/stores/test_integrationsStore.test.ts
  package.json
Due: test-colocation-python, openapi-type-generator

fix: Test infrastructure - interval cleanup and timer reference fixes
  frontend/src/stores/deploymentStore.ts
  frontend/src/test/setup.ts
Due: none

feat: Story 1.2 - Account Management with localStorage to PostgreSQL migration
  backend/app/api/integrations.py
  backend/app/api/onboarding.py
  backend/app/api/webhooks/facebook.py
  backend/app/models/onboarding.py
  backend/app/schemas/onboarding.py
  backend/tests/integration/test_onboarding_api.py
  frontend/src/services/onboarding.ts
  frontend/src/stores/onboardingStore.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 1.4 - Shopify Store Connection with OAuth integration
  backend/.env.example
  backend/alembic/versions/003_shopify_integrations.py
  backend/app/api/integrations.py
  backend/app/api/webhooks/shopify.py
  backend/app/api/webhooks/test_shopify.py
  backend/app/conftest.py
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/shopify_integration.py
  backend/app/models/test_shopify_integration.py
  backend/app/schemas/integrations.py
  backend/app/services/facebook.py
  backend/app/services/shopify.py
  backend/app/services/shopify_admin.py
  backend/app/services/shopify_base.py
  backend/app/services/shopify_storefront.py
  backend/app/services/test_shopify.py
  backend/app/services/test_shopify_admin.py
  backend/app/services/test_shopify_storefront.py
  backend/tests/contract/test_shopify_schema.py
  backend/tests/fixtures/mock_shopify.py
  backend/tests/integration/test_facebook_oauth_expanded.py
  backend/tests/integration/test_shopify_api.py
  backend/tests/integration/test_shopify_dlq.py
  backend/tests/integration/test_shopify_oauth_expanded.py
  backend/tests/integration/test_shopify_storefront_expanded.py
  backend/tests/integration/test_shopify_webhook.py
  docs/error-code-governance.md
  frontend/src/components/App.tsx
  frontend/src/components/onboarding/ShopifyCallback.tsx
  frontend/src/components/onboarding/ShopifyConnection.tsx
  frontend/src/stores/integrationsStore.ts
Due: test-colocation-python, openapi-type-generator

fix: Test infrastructure fixes - deployment tests, webhook tests, and E2E setup
  backend/app/models/conversation.py
  backend/app/models/facebook_integration.py
  backend/app/models/message.py
  backend/app/models/shopify_integration.py
  backend/app/models/test_message.py
  backend/app/services/test_facebook.py
  backend/pyproject.toml
  backend/tests/api/test_deployment.py
  backend/tests/api/test_webhook_error_handling.py
  backend/tests/conftest.py
  backend/tests/contract/test_facebook_api.py
  backend/tests/integration/test_facebook_api_integration.py
  frontend/package.json
  frontend/playwright-report/index.html
  frontend/playwright.config.ts
  frontend/src/components/onboarding/DeploymentWizard.tsx
  frontend/src/components/onboarding/FacebookConnection.tsx
  frontend/src/components/onboarding/LLMConfiguration.tsx
  frontend/src/components/onboarding/PrerequisiteChecklist.tsx
  frontend/src/components/onboarding/ShopifyConnection.tsx
  frontend/src/components/onboarding/TestConnection.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Checkbox.tsx
  frontend/test-results/.last-run.json
  frontend/tests/e2e/integrations.spec.ts
  frontend/tests/e2e/onboarding.spec.ts
  frontend/tests/fixtures/test-helper.ts
  frontend/vite.config.ts
Due: test-colocation-python

feat: Story 1.6 - Interactive Tutorial implementation
  Makefile
  backend/alembic/versions/005_tutorials.py
  backend/app/api/tutorial.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/merchant.py
  backend/app/models/test_tutorial.py
  backend/app/models/tutorial.py
  backend/app/schemas/tutorial.py
  backend/tests/fixtures/factory.py
  frontend/src/components/onboarding/BotPreview.tsx
  frontend/src/components/onboarding/InteractiveTutorial.tsx
  frontend/src/components/onboarding/TutorialCompletion.tsx
  frontend/src/components/onboarding/TutorialProgress.tsx
  frontend/src/components/onboarding/TutorialSkip.tsx
  frontend/src/components/onboarding/TutorialStep.tsx
  frontend/src/components/onboarding/test_InteractiveTutorial.test.tsx
  frontend/src/components/ui/Dialog.tsx
  frontend/src/stores/test_tutorialStore.test.ts
  frontend/src/stores/tutorialStore.ts
Due: test-colocation-python, openapi-type-generator

feat: Story 1.7 - Webhook Verification implementation
  backend/alembic/versions/006_webhook_verification_logs.py
  backend/app/api/webhooks/test_verification.py
  backend/app/api/webhooks/verification.py
  backend/app/conftest.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/models/facebook_integration.py
  backend/app/models/shopify_integration.py
  backend/app/models/test_webhook_verification_log.py
  backend/app/models/webhook_verification_log.py
  backend/app/schemas/webhook_verification.py
  backend/app/services/test_webhook_verification.py
  backend/app/services/webhook_verification.py
  backend/tests/conftest.py
  frontend/src/components/App.tsx
  frontend/src/components/settings/WebhookStatusCard.tsx
  frontend/src/components/settings/WebhookVerification.tsx
  frontend/src/components/settings/index.tsx
  frontend/src/components/settings/test_WebhookVerification.test.tsx
  frontend/src/stores/webhookVerificationStore.ts
  frontend/tests/e2e/onboarding.spec.ts
  frontend/tests/e2e/webhook-verification.spec.ts
Due: test-colocation-python, openapi-type-generator

fix: Story 1.2 deferred items - step progress alignment and SSE edge case tests
  backend/app/api/deployment.py
  backend/tests/contract/test_deployment_contract.py
  backend/tests/integration/test_deployment_api.py
Due: test-colocation-python

fix: E2E Test Standardization - Fix all failing tests (876/876 passing)
  .github/workflows/e2e-tests.yml
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/E2E_TEST_FRAMEWORK.md
  frontend/tests/e2e/critical/authentication.spec.ts
  frontend/tests/e2e/critical/integration-setup.spec.ts
  frontend/tests/e2e/critical/onboarding.spec.ts
  frontend/tests/e2e/journeys/webhook-verification.spec.ts
  frontend/tests/e2e/migrated/integrations.spec.ts
  frontend/tests/e2e/migrated/onboarding.spec.ts
  frontend/tests/e2e/migrated/webhook-verification.spec.ts
  frontend/tests/e2e/regression/accessibility.spec.ts
  frontend/tests/e2e/regression/cross-browser/firefox.spec.ts
  frontend/tests/e2e/regression/cross-browser/mobile.spec.ts
  frontend/tests/e2e/regression/cross-browser/webkit.spec.ts
  frontend/tests/e2e/regression/error-recovery.spec.ts
  frontend/tests/factories/facebook.factory.ts
  frontend/tests/factories/merchant.factory.ts
  frontend/tests/factories/shopify.factory.ts
  frontend/tests/fixtures/api-client.fixture.ts
  frontend/tests/fixtures/auth.fixture.ts
  frontend/tests/fixtures/base.fixture.ts
  frontend/tests/fixtures/merchant.fixture.ts
  frontend/tests/helpers/api-client.ts
  frontend/tests/helpers/assertions.ts
  frontend/tests/helpers/flaky-test-wrapper.ts
  frontend/tests/helpers/performance-monitor.ts
  frontend/tests/helpers/selectors.ts
  frontend/tests/templates/test-template.spec.ts
Due: none

fix: Contract tests - SQLAlchemy session and SSE timeout fixes
  backend/app/api/deployment.py
  backend/tests/contract/conftest.py
  backend/tests/contract/test_deployment_contract.py
Due: test-colocation-python

fix: Facebook webhook integration tests - Query parameters and settings caching
  backend/app/api/webhooks/facebook.py
  backend/tests/integration/test_facebook_api_integration.py
Due: test-colocation-python

refactor: Enum standardization - BaseSchema with camelCase alias pattern
  _bmad/bmm/workflows/4-implementation/create-story/instructions.xml
  backend/app/api/deployment.py
  backend/app/api/webhooks/shopify.py
  backend/app/api/webhooks/verification.py
  backend/app/main.py
  backend/app/schemas/base.py
  backend/app/schemas/deployment.py
  backend/app/schemas/integrations.py
  backend/app/schemas/llm.py
  backend/app/schemas/onboarding.py
  backend/app/schemas/webhook_verification.py
  backend/pyproject.toml
  backend/tests/api/test_deployment.py
  backend/tests/conftest.py
  frontend/src/components/onboarding/DeploymentWizard.tsx
  frontend/src/components/onboarding/test/test_DeploymentWizard.coverage.test.tsx
  frontend/src/components/onboarding/test_DeploymentWizard.test.tsx
  frontend/src/stores/deploymentStore.ts
  frontend/src/stores/llmStore.ts
  frontend/src/stores/test_deploymentStore.test.ts
  frontend/src/stores/webhookVerificationStore.ts
  frontend/src/types/enums.ts
  frontend/test-results/.last-run.json
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-1 - Natural Language Intent Classification
  backend/Dockerfile
  backend/app/api/webhooks/__init__.py
  backend/app/api/webhooks/facebook.py
  backend/app/api/webhooks/test_facebook.py
  backend/app/schemas/messaging.py
  backend/app/schemas/test_messaging.py
  backend/app/services/intent/__init__.py
  backend/app/services/intent/classification_schema.py
  backend/app/services/intent/intent_classifier.py
  backend/app/services/intent/prompt_templates.py
  backend/app/services/intent/test_classification_schema.py
  backend/app/services/intent/test_intent_classifier.py
  backend/app/services/intent/test_story_2_1_edge_cases.py
  backend/app/services/messaging/__init__.py
  backend/app/services/messaging/conversation_context.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/messaging/test_conversation_context.py
  backend/app/services/messaging/test_message_processor.py
  backend/tests/integration/test_story_2_1_integration.py
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-2 - Product Search with Constraints
  backend/.env.example
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/middleware/csrf.py
  backend/app/schemas/shopify.py
  backend/app/schemas/test_shopify.py
  backend/app/services/messaging/conversation_context.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/shopify/__init__.py
  backend/app/services/shopify/product_mapper.py
  backend/app/services/shopify/product_search_service.py
  backend/app/services/shopify/storefront_client.py
  backend/app/services/shopify/test_product_mapper.py
  backend/app/services/shopify/test_product_search_service.py
  backend/app/services/shopify/test_storefront_client.py
  backend/app/services/shopify_oauth.py
  backend/app/services/test_shopify.py
  backend/tests/e2e/__init__.py
  backend/tests/e2e/test_story_2_2_webhook_e2e.py
  backend/tests/integration/test_product_search.py
  backend/tests/integration/test_shopify_oauth_expanded.py
  backend/tests/integration/test_story_2_2_product_search_integration.py
  docker-compose.yml
  docs/error-code-governance.md
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-3 - Product Result Display
  backend/app/api/webhooks/test_facebook.py
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/core/input_sanitizer.py
  backend/app/core/security.py
  backend/app/schemas/llm.py
  backend/app/services/llm/anthropic_service.py
  backend/app/services/llm/base_llm_service.py
  backend/app/services/llm/gemini_service.py
  backend/app/services/llm/glm_service.py
  backend/app/services/llm/llm_factory.py
  backend/app/services/llm/llm_router.py
  backend/app/services/llm/ollama_service.py
  backend/app/services/llm/openai_service.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/messaging/test_message_processor.py
  backend/app/services/messenger/__init__.py
  backend/app/services/messenger/image_validator.py
  backend/app/services/messenger/product_detail_handler.py
  backend/app/services/messenger/product_formatter.py
  backend/app/services/messenger/send_service.py
  backend/app/services/messenger/test_image_validator.py
  backend/app/services/messenger/test_product_detail_handler.py
  backend/app/services/messenger/test_product_formatter.py
  backend/app/services/messenger/test_send_service.py
  backend/pyproject.toml
  backend/tests/e2e/test_story_2_3_product_display_e2e.py
  backend/tests/integration/test_product_display.py
  backend/tests/integration/test_story_2_2_product_search_integration.py
  docs/error-code-governance.md
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-4 - Clarification Flow for Ambiguous Requests
  backend/app/core/errors.py
  backend/app/schemas/llm.py
  backend/app/schemas/messaging.py
  backend/app/services/clarification/__init__.py
  backend/app/services/clarification/clarification_service.py
  backend/app/services/clarification/question_generator.py
  backend/app/services/clarification/test_clarification_service.py
  backend/app/services/clarification/test_question_generator.py
  backend/app/services/messaging/conversation_context.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/messaging/test_message_processor.py
  backend/tests/e2e/test_story_2_4_clarification_e2e.py
  backend/tests/integration/test_clarification_flow.py
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-5 - Add to Cart
  backend/app/api/webhooks/facebook.py
  backend/app/core/errors.py
  backend/app/schemas/cart.py
  backend/app/schemas/messaging.py
  backend/app/services/cart/__init__.py
  backend/app/services/cart/cart_service.py
  backend/app/services/cart/test_cart_service.py
  backend/app/services/messaging/conversation_context.py
  backend/app/services/messaging/message_processor.py
  backend/tests/e2e/test_story_2_5_add_to_cart_e2e.py
  backend/tests/integration/test_add_to_cart_flow.py
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-6 - View and Manage Cart
  backend/app/core/errors.py
  backend/app/schemas/cart.py
  backend/app/services/cart/cart_service.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/messenger/__init__.py
  backend/app/services/messenger/cart_formatter.py
  backend/app/services/messenger/test_cart_formatter.py
  backend/tests/e2e/test_story_2_6_cart_management_e2e.py
  backend/tests/integration/test_cart_edge_cases.py
  backend/tests/integration/test_cart_management.py
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-7 - Persistent Cart Sessions
  backend/app/background_jobs/data_retention.py
  backend/app/core/errors.py
  backend/app/main.py
  backend/app/schemas/consent.py
  backend/app/schemas/session.py
  backend/app/schemas/test_cart.py
  backend/app/services/cart/cart_retention.py
  backend/app/services/cart/test_cart_retention.py
  backend/app/services/consent/__init__.py
  backend/app/services/consent/consent_service.py
  backend/app/services/consent/test_consent_service.py
  backend/app/services/intent/classification_schema.py
  backend/app/services/intent/prompt_templates.py
  backend/app/services/messaging/message_processor.py
  backend/app/services/messaging/test_message_processor.py
  backend/app/services/session/__init__.py
  backend/app/services/session/session_service.py
  backend/app/services/session/test_session_service.py
  backend/tests/e2e/test_story_2_7_persistent_cart_e2e.py
  backend/tests/integration/test_story_2_7_persistence.py
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 2-8 - Checkout URL Generation
  backend/app/services/checkout/__init__.py
  backend/app/services/checkout/checkout_schema.py
  backend/app/services/checkout/checkout_service.py
  backend/app/services/checkout/test_checkout_service.py
  backend/app/services/messaging/message_processor.py
  backend/tests/e2e/test_story_2_8_checkout_e2e.py
  backend/tests/integration/test_checkout.py
Due: test-colocation-python

test: Fix Story 2-8 checkout tests - all 24 tests passing
  backend/app/services/cart/cart_service.py
  backend/app/services/checkout/checkout_service.py
  backend/app/services/checkout/test_checkout_service.py
  backend/app/services/shopify_storefront.py
  backend/app/services/test_checkout_validation.py
  backend/tests/e2e/test_story_2_8_checkout_e2e.py
  docs/epic-1-implementation-challenges.md
  docs/epic-1-llm-abstraction-patterns.md
  docs/epic-1-oauth-integration-patterns.md
  docs/epic-1-retrospective.md
  docs/epic-1-security-patterns.md
  docs/epic-1-testing-patterns.md
  docs/epic-1-webhook-patterns.md
Due: test-colocation-python

feat: Implement Story 2-9 - Order Confirmation
  backend/app/api/webhooks/shopify.py
  backend/app/schemas/order_confirmation.py
  backend/app/services/checkout/checkout_service.py
  backend/app/services/checkout/test_checkout_service_psid.py
  backend/app/services/messenger/send_service.py
  backend/app/services/order_confirmation/__init__.py
  backend/app/services/order_confirmation/order_confirmation_service.py
  backend/app/services/order_confirmation/test_order_confirmation_service.py
  backend/app/services/shopify_storefront.py
  backend/tests/e2e/test_story_2_9_order_confirmation_e2e.py
  backend/tests/integration/test_order_confirmation.py
Due: test-colocation-python, openapi-type-generator

refactor: Improve code quality and add verification utilities
  backend/app/api/llm.py
  backend/app/middleware/csrf.py
  backend/app/services/cart/cart_retention.py
  backend/app/services/consent/consent_service.py
  backend/app/services/llm/llm_factory.py
  backend/app/services/llm/mock_service.py
  backend/app/services/messaging/conversation_context.py
  backend/app/services/session/session_service.py
  backend/app/services/shopify/storefront_client.py
  backend/app/services/shopify_base.py
  backend/app/services/webhook_verification.py
  backend/verify_epic_2_flow.py
  docs/project-context.md
  frontend/src/components/App.tsx
  frontend/src/components/settings/WebhookStatusCard.tsx
  frontend/src/components/settings/WebhookVerification.tsx
Due: test-colocation-python

docs: update Story 2.9 with onboarding verification results and infrastructure fixes
  _bmad-output/implementation-artifacts/2-9-order-confirmation.md
  backend/app/services/messenger/send_service.py
  backend/tests/integration/test_story_2_1_integration.py
Due: test-colocation-python

feat: Implement Story 3-2 - Search and Filter Conversations
  backend/alembic/versions/007_conversation_search_indexes.py
  backend/app/api/conversations.py
  backend/app/api/test_conversations.py
  backend/app/schemas/conversation.py
  backend/app/services/conversation/conversation_service.py
  backend/app/services/conversation/test_conversation_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_conversations_search_filters.py
  docs/error-code-governance.md
  docs/stories/3-2-search-and-filter-conversations.md
  docs/stories/story-3-1-conversation-list-pagination.md
  frontend/src/components/conversations/ActiveFilters.tsx
  frontend/src/components/conversations/FilterPanel.tsx
  frontend/src/components/conversations/SavedFilters.tsx
  frontend/src/components/conversations/SearchBar.tsx
  frontend/src/components/conversations/index.ts
  frontend/src/components/conversations/test_ActiveFilters.test.tsx
  frontend/src/components/conversations/test_FilterPanel.test.tsx
  frontend/src/components/conversations/test_SavedFilters.test.tsx
  frontend/src/components/conversations/test_SearchBar.test.tsx
  frontend/src/pages/Conversations.tsx
  frontend/src/services/conversations.ts
  frontend/src/stores/conversationStore.ts
  frontend/src/stores/test_conversationStore.test.ts
  frontend/src/types/conversation.ts
  frontend/tests/e2e/api/story-3-2-conversations-filters.spec.ts
  frontend/tests/e2e/story-3-2-search-filters.spec.ts
  frontend/tests/unit/conversationStore-removal.spec.ts
  frontend/tests/unit/conversationStore-saved-filters.spec.ts
  frontend/tests/unit/conversationStore-sorting.spec.ts
  frontend/tests/unit/conversationStore-url-sync.spec.ts
Due: test-colocation-python, openapi-type-generator

fix: resolve API 500 error and update Story 3-1 documentation
  backend/app/api/conversations.py
Due: test-colocation-python

feat: Implement Story 3-3 - CSV Data Export
  backend/app/api/export.py
  backend/app/schemas/export.py
  backend/app/schemas/test_export.py
  backend/app/services/export/__init__.py
  backend/app/services/export/cost_calculator.py
  backend/app/services/export/csv_export_service.py
  backend/app/services/export/test_cost_calculator.py
  backend/app/services/export/test_csv_export_service.py
  backend/tests/integration/test_export_api.py
  docs/stories/story-3-3-csv-export.md
  frontend/playwright-ct.config.ts
  frontend/src/components/export/ExportButton.tsx
  frontend/src/components/export/ExportOptionsModal.tsx
  frontend/src/components/export/ExportProgress.tsx
  frontend/src/components/export/index.ts
  frontend/src/components/export/index.tsx
  frontend/src/services/export.ts
  frontend/src/stores/exportStore.ts
  frontend/src/stores/test_exportStore.test.ts
  frontend/tests/api/export.spec.ts
  frontend/tests/component/export/ExportButton.test.tsx
  frontend/tests/component/export/ExportOptionsModal.test.tsx
  frontend/tests/component/export/ExportProgress.test.tsx
  frontend/tests/component/mocks/conversationStore.mock.ts
  frontend/tests/component/mocks/exportStore.mock.ts
  frontend/tests/component/setup.ts
  frontend/tests/e2e/story-3-3-csv-export.spec.ts
  scripts/verify_story_3_3_api.py
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 3-4 - LLM Provider Switching
  backend/alembic/versions/008_conversation_llm_provider.py
  backend/app/api/llm.py
  backend/app/core/config.py
  backend/app/core/errors.py
  backend/app/core/rate_limiter.py
  backend/app/main.py
  backend/app/middleware/csrf.py
  backend/app/models/conversation.py
  backend/app/schemas/llm.py
  backend/app/services/llm/llm_factory.py
  backend/app/services/llm/provider_switch_service.py
  backend/app/services/llm/test_provider_switch_service.py
  backend/tests/integration/test_llm_provider_switching.py
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/components/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/providers/ProviderCard.tsx
  frontend/src/components/providers/ProviderComparison.tsx
  frontend/src/components/providers/ProviderConfigModal.tsx
  frontend/src/components/providers/ProviderSwitchSuccess.tsx
  frontend/src/components/providers/SavingsCalculator.tsx
  frontend/src/components/providers/test_ProviderCard.test.tsx
  frontend/src/components/providers/test_ProviderComparison.test.tsx
  frontend/src/components/providers/test_ProviderConfigModal.test.tsx
  frontend/src/components/providers/test_ProviderSwitchSuccess.test.tsx
  frontend/src/components/providers/test_SavingsCalculator.test.tsx
  frontend/src/pages/Conversations.tsx
  frontend/src/pages/ProviderSettings.tsx
  frontend/src/services/llmProvider.ts
  frontend/src/stores/llmProviderStore.ts
  frontend/src/stores/test_llmProviderStore.test.ts
  frontend/tests/api/llm-provider-switching.spec.ts
  frontend/tests/e2e/regression/error-recovery.spec.ts
  frontend/tests/e2e/story-3-4-llm-provider-switching.spec.ts
  frontend/tests/helpers/flaky-test-wrapper.ts
  frontend/vitest.config.ts
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 3-5 - Real-Time Cost Tracking
  backend/app/api/cost_tracking.py
  backend/app/api/merchant.py
  backend/app/api/test_cost_tracking.py
  backend/app/schemas/cost_tracking.py
  backend/app/services/cost_tracking/__init__.py
  backend/app/services/cost_tracking/cost_tracking_service.py
  backend/app/services/cost_tracking/llm_cost_wrapper.py
  backend/app/services/cost_tracking/pricing.py
  backend/app/services/cost_tracking/test_cost_tracking_service.py
  backend/app/services/cost_tracking/test_llm_integration.py
  frontend/src/components/costs/ConversationCostDetail.tsx
  frontend/src/components/costs/CostSummaryCards.tsx
  frontend/src/components/costs/CostTooltip.tsx
  frontend/src/components/costs/test_ConversationCostDetail.test.tsx
  frontend/src/components/costs/test_CostSummaryCards.test.tsx
  frontend/src/components/costs/test_CostTooltip.test.tsx
  frontend/src/components/ui/Toast.tsx
  frontend/src/context/ToastContext.tsx
  frontend/src/services/api.ts
  frontend/src/services/costTracking.ts
  frontend/src/services/test_costTracking.test.ts
  frontend/src/stores/costTrackingStore.ts
  frontend/src/stores/test_costTrackingStore.test.ts
  frontend/src/types/cost.ts
  frontend/tests/README.md
  frontend/tests/api/cost-tracking.spec.ts
  frontend/tests/e2e/story-3-5-cost-tracking.spec.ts
  frontend/tests/services/costTracking.spec.ts
  frontend/tests/stores/costTrackingStore.spec.ts
  frontend/tests/support/factories/costFactory.ts
  frontend/tests/support/factories/index.ts
  frontend/tests/support/fixtures/costTracking.ts
  frontend/tests/support/fixtures/index.ts
  frontend/tests/support/helpers/index.ts
  frontend/tests/support/helpers/testHelpers.ts
  frontend/tests/support/index.ts
Due: test-colocation-python, openapi-type-generator

feat: Implement Story 3-6 - Budget Cap Configuration
  backend/app/services/merchant_settings_service.py
  backend/tests/api/test_merchant_settings.py
  frontend/src/components/costs/BudgetConfiguration.tsx
  frontend/src/components/costs/BudgetRecommendationDisplay.tsx
  frontend/src/components/costs/test_BudgetConfiguration.test.tsx
  frontend/src/components/costs/test_BudgetRecommendationDisplay.test.tsx
  frontend/src/pages/Costs.tsx
  frontend/tests/e2e/story-3-6-budget-cap-configuration.spec.ts
Due: test-colocation-python

feat: Implement Story 3-7 - Visual Budget Progress
  _bmad-output/implementation-artifacts/sprint-status.yaml
  backend/app/services/cost_tracking/test_budget_progress.py
  docs/stories/story-3-7-visual-budget-progress.md
  frontend/src/components/costs/BudgetProgressBar.tsx
  frontend/src/components/costs/BudgetProjection.tsx
  frontend/src/components/costs/test_BudgetProgressBar.test.tsx
  frontend/src/components/costs/test_BudgetProjection.test.tsx
  frontend/src/pages/test_Costs.test.tsx
  frontend/tests/api/budget-progress.spec.ts
  frontend/tests/e2e/story-3-7-visual-budget-progress.spec.ts
Due: test-colocation-python

feat: Implement Story 1.8 - Merchant Dashboard Authentication
  backend/alembic/versions/009_add_merchant_auth_fields.py
  backend/alembic/versions/010_create_sessions_table.py
  backend/app/api/auth.py
  backend/app/api/test_auth.py
  backend/app/core/auth.py
  backend/app/core/test_auth.py
  backend/app/middleware/auth.py
  backend/app/middleware/test_auth.py
  backend/tests/integration/test_auth_flow.py
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/auth/SessionExpiryWarning.tsx
  frontend/src/components/auth/test_ProtectedRoute.test.tsx
  frontend/src/components/auth/test_SessionExpiryWarning.test.tsx
  frontend/src/pages/Login.tsx
  frontend/src/services/auth.ts
  frontend/src/services/test_auth.test.ts
  frontend/src/stores/authStore.ts
  frontend/src/stores/test_authStore.test.ts
  frontend/src/types/auth.ts
  frontend/tests/api/auth-login.spec.ts
  frontend/tests/api/auth-logout.spec.ts
  frontend/tests/api/auth-rate-limiting.spec.ts
  frontend/tests/api/auth-session-validation.spec.ts
  frontend/tests/api/auth-token-refresh.spec.ts
  frontend/tests/e2e/story-1-8-auth.spec.ts
  frontend/tests/e2e/story-1-8-multi-session.spec.ts
  frontend/tests/e2e/story-1-8-session-expiry.spec.ts
  frontend/tests/e2e/story-1-8-token-refresh.spec.ts
Due: test-colocation-python

fix: Story 1-9 CSRF token generation - fix typo bugs and test issues
  _bmad-output/implementation-artifacts/sprint-status.yaml
  frontend/src/services/csrf.ts
  frontend/src/services/test_csrf.spec.ts
  frontend/src/stores/csrfStore.ts
Due: none

Path conditions:
  test-colocation-python: any of: ^backend/app/ and \.py$
  openapi-type-generator: any of: ^backend/app/schemas/.*\.py$
